[2020-08-28 15:06] blaughman opened #687 "Complaint Form Copy Edits"
Randy identified some minor copy edits to make on the complaint form.

Remove the semicolons on the personal description page:
![image.png](https://images.zenhubusercontent.com/5d2390b2c408a2441fc2874d/49a9f853-6ef7-4647-b00d-a00f3b8a5773)

Remove the word "and" at the end of the second bullet point (highlighted in the screen capture)
![image.png](https://images.zenhubusercontent.com/5d2390b2c408a

[2020-08-28 17:51] cantsin commented on #676
So what do we want to do here, exactly? The bug is in the underlying [library](https://github.com/alphagov/accessible-autocomplete) which is *not* accepting pull requests at the moment.

The only solution I have here is to disable this library outright if we know the user is on Edge. Other than that I'm open to suggestions...

[2020-08-28 17:53] cantsin commented on #673
Just checking -- is this feature ready for dev? I know there was still some ongoing discussion around this, specifically re: how to not disrupt the public user experience.

[2020-08-28 19:24] blaughman commented on #681
Response has been updated and approved.

[2020-08-28 19:24] blaughman commented on #682
Basis has been removed.  Moving to UAT.

[2020-08-31 10:39] #672 closed

[2020-08-31 13:36] randyabramson commented on #676
@cantsin - what would the experience be for the user if we disabled the library?

[2020-08-31 13:38] randyabramson commented on #673
@cantsin  --- yes, @Jkrzy said he had some thoughts. BTW, this will now be part of Sprint 27...there are too many unknowns for us to jump on this fro 26.

[2020-08-31 15:11] Jkrzy opened #688 "Keyboard navigation on the details page captured by modal toggles."
https://github.com/usdoj-crt/crt-portal/pull/643#issuecomment-682580891

When navigating the report details page via keyboard, pressing `tab` while a modal toggle is focused results in the modal being opened. This captures focus and prevents progression to later elements in the page.

We'll know we're done when:
All focusable elements on the report details page are reachable via keyboard.

[2020-08-31 16:19] cantsin commented on #676
If we disable this library for Edge users, then the user must select the assignee from a (possibly long) list of users. In other words, the user will lose the ability to quickly filter the user list.

![2020-08-31_09-19](https://user-images.githubusercontent.com/3013175/91742406-16840400-eb6b-11ea-846a-a1a0db5aefd9.png)

[2020-08-31 16:26] randyabramson commented on #676
@cantsin OK, I understand. I assume that this build will eventually fall out of use as new browser updates happen and are installed by our IT group, correct?

[2020-08-31 16:29] cantsin commented on #676
I'm not sure! Earlier Edge builds worked, while later ones did not. Do we know when the next round of browser updates are slated to happen? If this isn't fixed by then then I think we should either remove the library or replace it with something else.

[2020-08-31 16:39] Jkrzy commented on #652
Any updates on this one?

We'll need to migrate away from 18F's zenhub in the near term.

[2020-08-31 16:43] ilodidoj commented on #676
There is no specific date set for browser update for all remote users.  Only next new image for user may have the latest EDGE browser.   Even with this I feel workaround is much more UI friendly than removing the library.  Currently on EDGE if the user type can see a short list and can then type the intended assignee from there without picking from the list, aka workaround. Note it's only 8 charac

[2020-08-31 16:49] randyabramson commented on #652
Hi @Jkrzy  -- In talking with @lalitha-jonnalagadda, we have until November to stay on the instance of Zenhub. I had a conversation with our IT team about moving to AIRTABLE. They are in the process of getting that license. I have reminders on my calendar to keep checking in about this.

[2020-08-31 16:52] randyabramson commented on #676
Very good point, @ilodidoj

[2020-08-31 17:53] randyabramson commented on #674
Updated code snipped:

Please place

<meta name="google-site-verification" content="UA2qkRn7lIwEkydkzZG2yZEykhLDmEqn8hibqT8105A" />

inside the <head> </head> tag of the page at https://civilrights.justice.gov/

[2020-08-31 18:07] Jkrzy commented on #673
How about we break this into two cards with these proposed implementations?

1. Turning off report submissions -- A toggle-able view of the `/report/` page which removes the form,  informs the visitor that we're currently unable to accept online submissions, and directs them to alternative submission paths. Toggleable via environment variables.

2. Enhanced error pages --  A revised `server error

[2020-08-31 18:11] blaughman commented on #629
@cantsin This is great.  I'm not sure what's possible, but would it be possible to bump the  "Personal Description" header to page two?  If not, no worries, overall the CRT users will be thrilled with the end product.

[2020-08-31 18:34] cantsin commented on #629
@blaughman Hmm. We can attempt to do a "page break" for the Personal Description section which will force that section to start on its own page. Do we want this to apply to all sections (meaning, each section would start on the top of a new page)?

[2020-08-31 18:45] blaughman commented on #661
Function works as intended in Chrome and Edge.  Moving to UAT.

[2020-08-31 19:22] blaughman commented on #233
Moving to closed.

[2020-08-31 19:22] #233 closed

[2020-08-31 20:18] cantsin commented on #674
@randyabramson I cannot see the code snippet. Can you please enclose it in triple backslashes so the code renders correctly in Github? Like this:

[code]

[2020-08-31 20:19] cantsin commented on #674
Nevermind, got it (by editing your comment). For reference:

[code]

[2020-08-31 20:23] randyabramson commented on #673
@Jkrzy I like your thinking here.

Question: I'm assuming we'd also alter https://civilrights.justice.gov/, right? Not just /report?

Also, what other error types we should consider beyond 500 and 404?

Randy

[2020-08-31 20:25] randyabramson commented on #674
Thanks @cantsin

[2020-09-01 00:27] randyabramson commented on #678
@cantsin and @Jkrzy - for testing on this ticket, I can eye-ball these images on DEV and they look fine.

However, to really test this, I would need the image url path on dev and make sure the sizes are correct (85kb for desktop and 65 kb for mobile). From there, I can download the images and make sure they are the optimized versions.

Is it possible to provide the image URL paths? ... I didn't se

[2020-09-01 00:45] randyabramson commented on #657
![close-button.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/0ca19f7c-f95b-4fe3-a9fe-4587a485ff98)

@Jkrzy Any way to get a little more space between the bottom of the guide and the close button? See attached.

Also, if there was consensus around the text 'how to I reroute,' then let's leave it. If that is just placeholder copy, maybe 'rerouting guide' is a bit more direct.

[2020-09-01 01:01] randyabramson commented on #617
@hakhalid11 I'm using the Android emulator and the text looks the same as it does in the 'current' grabs above and not the 'should be'. Example grab attached for the 'we uphold the civil rights...' text.![we-uplhold-civil.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/fcdf9693-80f1-4740-a1ac-223021df90f5)

[2020-09-01 13:35] #515 closed

[2020-09-01 14:33] hakhalid11 commented on #617
@randyabramson as Heather and Aviva brought up above some headers already have the correctly applied font-size and line-height so they won't appear to be changed. However, to give you an example of what this card changes you can compare dev and staging screenshots below.

**DEV**
![image](https://user-images.githubusercontent.com/66343959/91864309-10ab2300-ec3e-11ea-9501-02fbd652cffd.png)

**STAGI

[2020-09-01 14:42] randyabramson commented on #617
Ah, @hakhalid11 thanks...it's very subtle for sure! I will put these side by side and hopefully move this to UAT complete.

Randy

[2020-09-01 14:52] blaughman commented on #629
@cantsin Can we add a page break for the  personal description section?  Once that is done, this card is good to go.  It looks great.

[2020-09-01 14:57] blaughman commented on #629
@cantsin Don't worry about the page break.  The Edge version looks different so I don't want to solve for one browser and then have issues with another browser's appearance.  I'm moving this to UAT.

[2020-09-01 15:09] Jkrzy commented on #678
Using chrome developer tools would be another good option to test this, happy to pair and walk through that if you'd like.

Here are the images in-use on the development instance:

https://cg-b2626a97-5c90-4d35-a39b-24f3b035d5c9.s3-us-gov-west-1.amazonaws.com/static/img/landing-page-hero.jpeg
https://cg-b2626a97-5c90-4d35-a39b-24f3b035d5c9.s3-us-gov-west-1.amazonaws.com/static/img/landing-page-her

[2020-09-01 15:25] Jkrzy commented on #657
For sure! I'll tweak the spacing now.

On the language, I don't believe there is consensus on any specific wording. But here's what they all look like...

I'll defer to you and @blaughman for a final decision.

* Bill had `Reassignment Help` in the original mock-up.
![Screen Shot 2020-09-01 at 11.23.44 AM.png](https://images.zenhubusercontent.com/5e55861e4853ae9aab609188/21f59db5-5cc0-40f1-b079-f1

[2020-09-01 15:31] randyabramson commented on #678
@Jkrzy thanks...yes, maybe in our next 1x1.

Downloaded these images and they are the correct optimized versions.  Good to go on these.

[2020-09-01 15:33] randyabramson commented on #657
@Jkrzy --- @blaughman  and I spoke this morning..."rerouting guide" is the preferred language. Thanks so much for subbing that in!

[2020-09-01 15:41] Jkrzy commented on #657
Changes submitted! https://github.com/usdoj-crt/crt-portal/pull/656

[2020-09-01 16:31] randyabramson opened #689 "Bulk 'Or' statement Keyword Search - Proof Of Concept"
## Problem Statement
Nicole and team are burdened with performing manual individual searches across 25 different terms across HCE complaints in order to find SVI related complaints.

## Solution
Before building out a full featured "Or" based keyword search into the CP UI, we'd like to build a simple URL based search function that will show the value of a 'bulk keyword' search function

## User Sto

[2020-09-01 16:36] cantsin commented on #670
@Jkrzy thinking about this one from an architectural standpoint.

As far as I know, Django doesn't really have a "canonical" way of doing i18n for dynamic content (database models) -- the best library I can see is [django-modeltranslation](https://django-modeltranslation.readthedocs.io/en/latest/). This library modifies the underlying fields with an additional `_{lang}` per language, which is ...

[2020-09-01 16:40] cantsin commented on #675
Do we want to maintain the previous DAP tracker as well or replace wholesale with GA?

[2020-09-01 16:51] cantsin commented on #188
Noting that we'll need a spanish translation for the above.

[2020-09-01 17:28] Jkrzy commented on #670
Adding them as `ResponseTemplates` instances is appropriate with the current state of Form letters,

Beyond our current implementation, I'd _love_ to look at migrating form letters out of the database and into the code repository

[2020-09-01 17:34] cantsin commented on #670
Alright, thanks for the feedback! I'll take this one on then.

@blaughman is it OK if we have the spanish versions as fully standalone letters? These will be distinguished with a `(Spanish)` at the end of the title.

[2020-09-01 18:22] randyabramson opened #690 "Install Scroll Depth Tracking"
Google Analytics can provide scroll depth, either by a custom event in HTML or via the default trigger in Google Tag Manager:

**May be dependent on standing up Google Analytics instance and, if we use the Google Tag Manager method, we will have to configure Google Tag Manager**

** NEW! Overview of Native Google Scroll Depth Using Google Tag Manager: https://www.simoahava.com/analytics/scroll-dep

[2020-09-01 18:22] cantsin commented on #670
@blaughman also do we have the spanish translation for `Response: Your Civil Rights Division Report - [record_locator] from [section_name]`? Apologies if it's here somewhere, but I couldn't find it.

[2020-09-01 18:26] blaughman commented on #670
@cantsin Fully standalone letters would be perfect.  I'll check with Marta about the last translation question.

[2020-09-01 18:31] cantsin commented on #670
@blaughman thank you!! One additional thing to ask Marta too, please ask how she wants her dates formatted. Here's an example:

`01 septiembre 2020` -- not sure if I should be adding commas anywhere or adjusting this format. My spanish teacher in high school is shaking his head at me right now ...

[2020-09-01 18:53] cantsin commented on #670
After researching some more, I believe the best alternative is to use an external library. This library will translate today's date as `1 de septiembre de 2020` which seems correct to me. (But still best to double check with Marta)

[2020-09-02 00:23] blaughman commented on #682
Cleaned card of PII.

[2020-09-02 00:24] blaughman commented on #681
Card cleaned of PII.

[2020-09-02 14:29] #676 closed

[2020-09-02 17:06] randyabramson opened #691 "Quick View On 'View All' Table"
### Problem statement:
Intake users cannot get a quick view of personal descriptions without clicking into a ticket.
### Problem statement 2 (post-bulk actions roll out):
Intake users can group common tickets and take bulk actions on them, but they need to click into each individual ticket to know the specifics of the personal description.

### User story:
As an intake specialist, I want to be abl

[2020-09-02 22:20] cantsin commented on #670
While finishing this feature up, I realized we are missing one more thing. Section names. We updated the section names awhile ago and I believe some Spanish translations need to be updated as well.

Here's the list I have (I've marked which ones I know for sure we need to update, but let's check all with Marta):

Administrative: Administrativa
Appellate: Apelación
Criminal: Penal
Disability Rights

[2020-09-03 12:52] blaughman opened #692 "Districts 65 and 90 need to be added to the Judicial District Table"
## Problem
District 65 represents Puerto Rico.  District 90 represents the United States Virgin Islands.  These district numbers are not an available selection in the database.

![image.png](https://images.zenhubusercontent.com/5d2390b2c408a2441fc2874d/e5c72e11-da45-4acb-b84b-3623e81c5420)

[2020-09-03 13:45] Jkrzy commented on #689
Implementation notes...

For an MVP of this:

- Accepting multiple `violation_summary` values as URL parameters
  - e.g. `http://127.0.0.1:8000/form/view/?violation_summary=bus&violation_summary=plane`
- Combining with boolean `OR`
  - Show me all reports with `Personal Descriptions` containing `"bus" OR "plane"`
- Searching

We need to revise our filter implementation for `violation_summary` in `

[2020-09-03 14:10] ilodidoj commented on #575
What happen once user select the icon for 'Assign to User' function? UI mocks for modal of selecting assignee or how this should work in terms of UI?

[2020-09-03 14:19] randyabramson commented on #673
@Jkrzy I am going to leave this card in 'analyzing' for now and create 2 new cards: one for the 404/500 page and one for the maintenance page.

Let me know if you have time to pair on this. If not, I'll try to tackle on my own based what is on this card.

[2020-09-03 14:37] hakhalid11 opened #693 "Filter duplication when clicking back to all button"
Following steps can be used to create this bug.

Select any intake filter and hit apply filters button
Sort by incident location, contact first name, or incident date
Select any record from the data table
Once you have opened the record hit back to all button

Intake filters will now have duplicated (example screenshot below)
![image.png](https://images.zenhubusercontent.com/5efb8164bf9ea016ca6016

[2020-09-03 15:14] blaughman commented on #575
@cantsin @Jkrzy @ilodidoj @hakhalid11 @randyabramson  I took a stab at this story.  If you have a moment, please look this over and let me know if there are any questions or concerns.  Thanks.

[2020-09-03 16:09] Jkrzy commented on #693
Is the impact of this limited to the UI with duplication of the applied filters boxes or are the search results unexpected as well?

[2020-09-03 16:22] cantsin commented on #670
I just remembered! Hope it is not too late :sweat_smile: We need spanish translations for the "Thank you for your report" case when the user does not input their first or last name. (Otherwise it will be `Estimado/a [first_name]` or `Estimado/a [first_name] [last_name]`

[2020-09-03 16:27] hakhalid11 commented on #693
It is limited to the UI and the url params. The search results themselves are unaffected.

[2020-09-03 16:28] randyabramson commented on #575
@blaughman - wondering if some of these new icons will overlap with the 'quick view' carrot that we were talking about?

[2020-09-03 16:34] randyabramson commented on #575
@blaughman assuming you can only 'bulk assign' on what is currently in view, which is 15 entries. So, the limit you can bulk assign at once is 15, correct?

[2020-09-03 16:49] randyabramson commented on #575
* Notes for meeting with Bill:

* Do we need the 'action' icon and menu at this point? Can we just get away with the assign to user icon appearing when complaints are selected? I'm thinking we are talking about doing this now because we will add more functions down the road, right?

* If we use the action icon, can it be greyed out until a user selects at least one record?

* I'm not sure what the

[2020-09-03 19:22] randyabramson commented on #575
Notes:

1. AC for 'are you sure?'
2. AC for '15 records will be impacted' message + 'TBD records will be effected'
3. Icons at top or TEXT?
3. Possibility for future 'un-do' feature

[2020-09-03 23:05] cantsin commented on #575
Note that we are adding a caret (`>`) for quickview, so we'll need to figure out where the checkboxes live, otherwise it's going to be easy to accidentally expand a row instead of selecting a row.

[2020-09-04 11:01] randyabramson commented on #575
Worked on these mocks last night...reviewing with Bill today[https://app.zenhub.com/files/183258764/bd5dc135-2454-4b7b-ba7d-abaa7767d2af/download](https://app.zenhub.com/files/183258764/bd5dc135-2454-4b7b-ba7d-abaa7767d2af/download)

[2020-09-04 12:03] randyabramson commented on #575
@cantsin Yes...I had the same concern! Is it even possible to have the carrot and check box side by side? If so, are we confident that there would be excessive user error where users are checking/expanding unintentionally?

[2020-09-04 12:53] randyabramson commented on #689
@Jkrzy -- the ^^ above looks right to me (given my limited technical knowledge)

[2020-09-04 13:42] Jkrzy commented on #691
@blaughman, @randyabramson  -- just double checking, is having both the `Reporter's Personal Description` in the expansion  and `division Staff's Summary` in the original table labeled as `Summary` here intentional? It looks a bit confusing to me.

[2020-09-04 15:40] blaughman commented on #657
Function works as intended on Chrome and Edge in Staging.

[2020-09-04 15:48] blaughman commented on #661
Function works as intended on Chrome and Edge in Staging.

[2020-09-04 15:52] blaughman commented on #682
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 15:52] blaughman commented on #681
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 15:55] blaughman commented on #662
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 15:55] blaughman commented on #666
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 15:58] blaughman commented on #629
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 15:59] blaughman commented on #680
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 16:00] blaughman commented on #628
Function is as intended on Chrome and Edge in Staging.

[2020-09-04 20:27] Jkrzy commented on #692
Noted in PR, copying here as well https://github.com/usdoj-crt/crt-portal/pull/661#issuecomment-687365041

[2020-09-07 18:18] randyabramson commented on #691
@Jkrzy  did this get clarified for you? I only see on summary in the mock, so I'm not positive that I'm following you.

[2020-09-08 12:46] Jkrzy commented on #691
Not quite @randyabramson, it's still a bit confusing to have two `Summary` headers on that page. One on the primary table, and then the additional one on the row expansion. This is on the development instance now, we can take a look there.

If you or @blaughman think it's worth a closer look to help the division staff we can tackle in another card.

[2020-09-08 15:42] blaughman commented on #692
Values have been added.  Moving to UAT.

[2020-09-08 15:43] blaughman commented on #693
Bug appears to have been fixed.  Moving to UAT.

[2020-09-08 15:47] blaughman commented on #601
Trying to save without a comment now produces an error on the complaint details page and does not let the user save a blank comment.  Moving to UAT.

[2020-09-08 15:48] blaughman commented on #679
Filter is properly aligned.  Moving to UAT.

[2020-09-08 16:17] Jkrzy commented on #689
Here's an example URL for the dev instance:

https://crt-portal-django-dev.app.cloud.gov/form/view/?violation_summary=can&violation_summary=truck

`?violation_summary=can&violation_summary=truck` is the operative piece which allows folks to add terms to search within `violation_summary`

[2020-09-08 16:26] randyabramson commented on #689
Thank you @Jkrzy

[2020-09-08 16:30] blaughman commented on #415
Closing this card.  Merging this filter into card #623.

[2020-09-08 16:30] #415 closed

[2020-09-08 16:37] randyabramson commented on #689
@Jkrzy  quick question: I'm following how to add the terms to the URL, but I wanted to followup and ask if the search is hard-coded to search HCE specifically?

[2020-09-08 16:39] Jkrzy commented on #689
No hard-coding present, to limit the search to `HCE` routed reports you would add a search term to the URL

example:
`/?assigned_section=HCE&violation_summary=airplane&violation_summary=truck`

[2020-09-08 16:43] randyabramson commented on #689
Amazing. Thanks @Jkrzy

[2020-09-08 17:43] hakhalid11 opened #695 "Create a User Profile"
Create a Django Model to create a new user profile for each user in the system. This user profile only contains an intake_filter field which will hold the default global section filters. For the new model we need to make it available in admin to create and modify. We will also need to create a new migration to apply the database changes. This will only include table and column creation and no data

[2020-09-08 18:01] hakhalid11 opened #696 "Create a Profile form to update default intake section filters"
Create a new Profile form class that inherits from ModelForm which will allow us to update the intake_filters field on the profile model. The choices for intake_filters should be limited to existing sections. The widget component should only use checkbox inputs.

_This issue is building towards the resolution of [621](https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482

[2020-09-08 18:05] ilodidoj commented on #689
This example of all HCE New and Open including all known SVI keyword:
[https://crt-portal-django-dev.app.cloud.gov/form/view/?assigned_section=HCE&status=new&status=open&no_status=false/form/view/?violation_summary=Servicemember&violation_summary=Service&violation_summary=Military&violation_summary=Veteran&violation_summary=Active%20duty&violation_summary=Deployment&violation_summary=Army&violatio

[2020-09-08 18:13] hakhalid11 opened #697 "Create a class in Views.py to update or create a Profile"
Create a Class that accepts post data containing a list of one or more assigned_sections and using the Profile form to create or update intake_filters. This submission will update the requester's (logged in user) profile. This function will also need to handle error validation, and will only update intake_filters if form is submitted with valid assigned sections.

The next iteration of this functi

[2020-09-08 20:10] ilodidoj commented on #687
@randyabramson @blaughman while we are removing (;) should we also remove the (.) at the last line? or should add period (.) for all three lines? just to be consistent.

[2020-09-08 20:17] ilodidoj opened #698 "PR review documentation update"
As a PR reviewer, I need to make sure translation works according to the front end content changes.

[2020-09-09 01:29] randyabramson commented on #689
Thank you @ilodidoj . I was going to cut and past those terms tonight, so thanks for saving me some effort! I see that no results are coming up. I noticed that some of the variables have spaces (example: stay of proceedings) and I thought that may be the cause. But then I did a simple search on the portal against HCE section + 'car' and again against 'army' and nothing came up. Maybe these terms j

[2020-09-09 01:45] randyabramson commented on #687
@ilodidoj thanks for picking this up. The rule is that periods should be on each bullet if the words compose a sentence, which these do. This is a bit more complicated because the bullets start with a lower case letter on the first word, so it is hard to see these as sentences. Anyway, looking at these again, I think we should make the first letter a capital in each sentence and add periods at the

[2020-09-09 10:05] randyabramson commented on #690
Update: Dependent on Google Analytics install that is happening on 9/22

[2020-09-09 10:15] randyabramson commented on #691
@Jkrzy I see what you mean now. Let's change the header on the open 'quick view' to say 'personal description,' since that is what it is anyway.

2 other things I see on dev for this one:

1. I think we need to test the scroll bar with users -- @blaughman should we maybe have Bob's team test?
2. The carrot disappears after you open. Should we leave it there and allow for the user to close the quic

[2020-09-09 10:25] randyabramson opened #699 "SVI - Add new bullet to Employment section on Primary Concern page"
Per SVI's request, please add the following bullet:

* Denied reemployment or fired based on military service

to the Employment section of the Primary Concern page:

![image.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/67cbecb0-fcca-4d52-9f5d-788bdd6ce742)

[2020-09-09 11:01] randyabramson commented on #689
@ilodidoj @Jkrzy just sanity checking this...

* When I run Imran's query above, I get zero results.
* As a check, I ran a query against section HCE and personal description word of 'army' and I get 15 results: https://crt-portal-django-prod.app.cloud.gov/form/view/?assigned_section=HCE&status=new&status=open&status=closed&violation_summary=army&no_status=false

Thoughts?

[2020-09-09 13:04] hakhalid11 commented on #687
@randyabramson are the bullet points in your comment pertaining to personal description page?

[2020-09-09 13:09] randyabramson commented on #687
@hakhalid11  yes, you are correct:

![image.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/7cbc1c92-bd18-4f44-87f3-38b425b69be8)

[2020-09-09 13:11] Jkrzy commented on #689
This functionality is only on the development instance at the moment where there are only ~35 records routed to HCE -- None of which have any of the search terms above in their summary fields. No results is expected on development with those terms.

Creating a report which is assigned to HCE and a personal description with one of the provided terms leads to results returned. I created one just now

[2020-09-09 13:11] hakhalid11 commented on #687
@randyabramson So I am assuming we would want a period after each bullet point?

[2020-09-09 13:19] randyabramson commented on #689
@Jkrzy Ah...right! Sorry...rookie mistake! So, in theory, we won't really see the true value of this until it goes on the live site against 'real data.'

[2020-09-09 13:24] randyabramson commented on #687
@hakhalid11 - actually remove the periods.

So, it should read:

* Time
* Names of people involved including witnesses if there are any
* Any supporting materials (please list and describe them)

@ilodidoj and @hakhalid11  I think I confused this ticket with punctuation on a separate page, hence the block of text above that is not on the personal description page.  I will enter a separate ticket f

[2020-09-09 13:31] Jkrzy commented on #691
@randyabramson,
1. For sure, here's what it looks like![Screen Shot 2020-09-09 at 9.30.39 AM.png](https://images.zenhubusercontent.com/5e55861e4853ae9aab609188/e346d832-d0d3-4a49-97d6-6c419c4698a7)

2. Can you try again after a hard refresh, the carot should persist and does for me on Chrome.

[2020-09-09 14:14] Jkrzy commented on #691
Submitted https://github.com/usdoj-crt/crt-portal/pull/668 to update the text to `Personal Description`

[2020-09-09 14:16] randyabramson commented on #691
@Jkrzy 'personal description' label looks good. Please update that.

And, yes, I do see the carrot persist after the hard refresh. Thank you!

[2020-09-09 16:39] blaughman commented on #657
Released to Production on 9/8/20.

[2020-09-09 16:39] #657 closed

[2020-09-09 16:39] blaughman commented on #661
Released to Production on 9/8/20.

[2020-09-09 16:39] #661 closed

[2020-09-09 16:39] blaughman commented on #629
Released to Production on 9/8/20.

[2020-09-09 16:39] #629 closed

[2020-09-09 16:39] blaughman commented on #662
Released to Production on 9/8/20.

[2020-09-09 16:39] #662 closed

[2020-09-09 17:57] ilodidoj commented on #670
@blaughman @randyabramson no spanish version for FBI letter and trending letter needed for this AC right? Did not see those during PR review or in the card here.

[2020-09-09 20:17] randyabramson commented on #575
Version 2.0 of the mocks/user flow here:[https://app.zenhub.com/files/183258764/628a6672-92bb-43c4-97be-447160d95547/download](https://app.zenhub.com/files/183258764/628a6672-92bb-43c4-97be-447160d95547/download)

[2020-09-10 13:21] blaughman opened #700 "Copy Edit for Disability Personal Characteristic"
DRS has requested the wording for the Disability selection on the Personal Characteristics page change
from:
- [ ] Disability (including temporary or recovery)

to:
- [ ] Disability (including temporary, recovery, HIV, or drug addiction)

![image.png](https://images.zenhubusercontent.com/5d2390b2c408a2441fc2874d/8f0ba195-9675-48ba-97b7-845064f7e04b)

[2020-09-10 13:31] Jkrzy opened #701 "Record deploys with NewRelic API"
As a developer, I want to be able to see records of deploys in newrelic so I can quickly identify changes in app performance which may be related to new changes.

https://docs.newrelic.com/docs/apm/new-relic-apm/maintenance/record-monitor-deployments

We'll know we're done when:
- [ ] Deploys are communicated to and available for display in NewRelic

[2020-09-10 13:45] Jkrzy opened #702 "ValueError in `ShowView.get`"
We've seen ~280 occurrences of the following exception, peaking during business hours, since the latest release on Tuesday.

[code]
Caused by an empty string being stored in `index` when this line, https://github.com/usdoj-crt/crt-portal/blob/1ddda91256f540f5515a687d4a09a419996c4518/crt_portal/cts_forms/views.py#L196, is executed.

Originating the from report details page, `/form/view/{ID}`

Initi

[2020-09-10 14:07] Jkrzy opened #703 "Add Alert for Error rate in NewRelic"
As a developer or system owner, I want to be notified when errors are occurring on the production instance so that I can triage and escalate as needed.

We'll know we're done when:
- [x] We've established a NewRelic alerting policy for `Error Percentage` on the production instance
- [x] We've established a notification a policy so that developers and system owners are notified

cc: @ilodidoj, @ran

[2020-09-10 14:21] randyabramson opened #704 "SVI - add new bullet to housing section of Primary Concern page"
Per SVI's request, please add the following bullet:

•	Challenges with terminating a lease due to military status change 

to the housing section of the Primary Concern page (note: for consistency, no period on this bullet):

![image.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/424d090d-da50-4321-a13b-ef76286dfb0b)

[2020-09-10 14:40] blaughman commented on #684
Going over the limit no longer triggers a 500 error.  Error displays on the detail page.  Moving to UAT.

[2020-09-10 16:23] blaughman commented on #700
@danielhyi Do you have any issues with this update?

[2020-09-10 17:10] randyabramson commented on #575
V3 of mocks here. I included a 'coder's choice' for a Bulk Actions drop down or Bulk Assign button. Either is fine for us. Bulk Actions Drop Down is good for future state, but adds ACs, etc.

[Uploading... bulk-actions-v3.docx ]

[2020-09-10 17:12] randyabramson commented on #575
BTW - We ran the above mocks by two service folks today and they were very happy with the mocks/flow.

[2020-09-11 01:33] #678 closed

[2020-09-11 01:33] #682 closed

[2020-09-11 01:33] #666 closed

[2020-09-11 01:35] #680 closed

[2020-09-11 01:35] #617 closed

[2020-09-11 01:36] #628 closed

[2020-09-11 10:27] randyabramson commented on #689
Moving this to UAT to complete since the search does work against dev data

[2020-09-11 12:49] randyabramson commented on #675
@cantsin @Jkrzy @ilodidoj -- to verify this, I am searching for "UA-176942176-1"

on

view-source:https://crt-portal-django-dev.app.cloud.gov/form/view/?status=new&status=open&no_status=false

I don't see it. Not sure if the tag is being dynamically injected.

Please advise on how to verify this...thanks!

[2020-09-11 12:50] randyabramson commented on #674
@cantsin @Jkrzy @ilodidoj -- to verify this, I am searching for "UA2qkRn7lIwEkydkzZG2yZEykhLDmEqn8hibqT8105A"

on

view-source:https://crt-portal-django-dev.app.cloud.gov/form/view/?status=new&status=open&no_status=false

I don't see it. Not sure if the tag is being dynamically injected.

Please advise on how to verify this...thanks!

[2020-09-11 13:09] randyabramson commented on #674
Hmmm @ilodidoj  not seeing it on view-source:https://crt-portal-django-dev.app.cloud.gov/ (not the internal admin tools) either. I guess I won't be able to see the code until it is in the live environment or when I use the Google tools to verify it is there on Live.

[2020-09-11 13:25] randyabramson commented on #674
Moving this to UAT complete since I can't really test until this in the live environment

[2020-09-11 13:49] Jkrzy commented on #702
~140 additional occurrences in the last 24 hours.

cc: @randyabramson, @blaughman, @ilodidoj

[2020-09-11 14:31] randyabramson commented on #673
Closing this ticket and will spin up separate tickets for Maintenance Page and Error Page

[2020-09-11 14:31] #673 closed

[2020-09-11 14:47] randyabramson commented on #702
@Jkrzy  can you give more detail of when/where this error occurs? I believe this is different from the bug on our internal view when the specialist click into the Summary field and then leave it blank, correct?

[2020-09-11 15:04] Jkrzy commented on #702
@ilodidoj is on the right path but this is just the initial report.

@randyabramson, @ilodidoj, and @blaughman should:
* Triage and set a priority for this card
* Including whether or not we should tackle as a hot-fix
* If the priority supersedes other in-development work, assign it to a developer for investigation and resolution

[2020-09-11 15:07] randyabramson commented on #702
@Jkrzy @ilodidoj I could not recreate this error.

I _could_ send a note to the deep dive group and see if anyone has gotten an error when using the <> buttons. Would that be helpful?

[2020-09-12 14:22] randyabramson commented on #702
@ilodidoj @Jkrzy @blaughman

Here is the evaluation from Tony Burton who got this error:

_"What I’ve been getting, for the past three days, is a message screen (below) whenever I save my work to the entry (ticket). Yet when I go back to the entry, the update has been made, and the success is noted at the top. It’s not just germane to this one entry, it happens every time. I’ve haven’t said anythi

[2020-09-12 14:29] randyabramson commented on #702
@ilodidoj  @Jkrzy  @blaughman

I think Tony might be the only person impacted at the moment, so I don't think this is a DEFCON 1 situation just yet.

We did get  a note from Sharon  McGowan-Bransome who is getting a 500 error as well, but I need to confirm that she used the 'back' navigation.

I will move this up in priority and ask the Deep Dive group if others are seeing a 500 error.

Randy

[2020-09-13 20:15] randyabramson opened #705 "Customer Facing 404 Page"
**As a product owner, I want users of civilrights.justice.gov to see a welcoming and directional 404 page when they come to our site and hit a url that doesn't exist**

### Acceptance Criteria

Given that I am on the civilrights.justice.gov domain
When I hit a page that does not exist (either cause by human typo, broken link or other non-script related failure)
Then I see a 404 page

Given that I

[2020-09-13 20:22] randyabramson commented on #705
**As a product owner, I want users of civilrights.justice.gov to see a welcoming and directional 404 page when they come to our site and hit a url that doesn't exist**

### Acceptance Criteria

Given that I am on the civilrights.justice.gov domain
When I hit a page that does not exist (either cause by human typo, broken link or other non-script related failure)
Then I see a 404 page

[2020-09-14 10:58] randyabramson opened #706 "Customer Facing Maintenance Page for /report page"
**As a user, when I try to submit a report while the Complaint Portal is being maintained, I will not be aware of the maintenance, when the site will be back up or how else I can submit a report.**

### Acceptance Criteria
Given that when I am https://civilrights.justice.gov/report/
When the site is being maintained
Then I see the maintenance page

Given that when I am https://civilrights.justice.

[2020-09-14 12:54] randyabramson opened #707 "Customer Facing Error Page (500 error, etc.)"
**As a product owner, I want users of civilrights.justice.gov to see a welcoming and directional error page when they come to our site and a script error occurs**

### Acceptance Criteria

Given that I am on the civilrights.justice.gov domain
When I hit a page and a server error or other error occurs
Then I see an error page page

Given that I am on the civilrights.justice.gov domain
When I hit a

[2020-09-14 15:23] randyabramson commented on #702
Update to Tony's issue description - the error occurred when he hit the 'back button on the browser.' (not the back to all or complaint-level navigation (forward/back)).

![image.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/72ad2547-d81c-40a1-b467-5d47a42cade5)

[2020-09-14 15:31] randyabramson commented on #691
@blaughman @cantsin Two folks from VOT tested quick view and are happy with the functionality as is. I thought they might want a larger preview window (which could be tricky as you get to the bottom of the page), but they like it as is.

Maybe when Emily starts in October, we can revisit if needed.

[2020-09-14 18:10] randyabramson commented on #706
Jacklynn mock attached

![404-mock-jacklynn.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/8d99ba9d-231d-411f-8e25-a5191829d970)

[2020-09-14 18:10] randyabramson commented on #707
Jacklynn mock attached

![404-mock-jacklynn.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/0cb20748-7fe5-442c-b8a4-52791c51daf1)

[2020-09-15 10:40] randyabramson opened #708 "Election Training Guides - Call Taker and Attorneys"

[2020-09-15 12:04] randyabramson opened #709 "Actions not rendering on Print/Share functionality"
Using a report from development as a test case.

1. I select 'Actions' as a choice for print/share

![image.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/a2b649a6-6b9e-44b6-b49f-eb67e073243a)

2. Actions is not rendered in the 'print'share' function

[2020-09-15 15:38] randyabramson opened #710 "COVID Form Letters"

[2020-09-15 15:48] randyabramson commented on #710
I know we were talking about a couple of different letters here:

* One for people who were upset about they way they were treated for not wearing a mask due to disabilities
* General comments about the way the pandemic is being handled, etc.

Once we have the letters back from Dan, we should consult with:

* Marta
* Tarsha
* Naomi
* Anne Raish
* Lorine (task force)
* Christie (task force)

Anyone

[2020-09-15 17:44] blaughman commented on #710
Perhaps we should add Greg Friel or Kathy Toomey from the Front Office for approval/sign off.

[2020-09-15 17:48] blaughman commented on #687
Edits appear to have been incorporated.  Moving to UAT.

[2020-09-15 17:53] blaughman commented on #670
Spanish form letters appear to work as intended.  Moving to UAT.

[2020-09-16 19:37] randyabramson commented on #710
Good call @blaughman

[2020-09-18 19:49] hakhalid11 commented on #621
@blaughman I'd like to omit the all checkbox selection that is shown in the section dropdown. It is becoming a blocking issue and I don't want to spend too much time on it, also it can be added in as an enhancement afterwords. Let me know if your thoughts on this.

[2020-09-18 19:57] blaughman commented on #621
@hakhalid11 If it helps get this across the finish line, please proceed as you see fit.  As long as this does not affect the overall function and performance, we can merge this and see how the end users feel.  Thanks.

[2020-09-21 00:44] randyabramson opened #711 "Change FOIA link"
Please change FOIA link in footer to go to https://www.justice.gov/crt/freedom-information-act-0

![image.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/97f8e1e3-0075-454c-9816-1a9a9b3cea8c)

(It currently goes to https://www.justice.gov/oip)

Note: the footer exists on the landing page, report pages and privacy page.

Note: Dan signed off on this change; the request came from

[2020-09-21 15:56] hakhalid11 commented on #704
@randyabramson can we get a Spanish translation for this.

[2020-09-21 16:16] blaughman opened #712 "Replace library to address recent discovery of bugs"
Staff library is triggering bugs.

[2020-09-21 16:33] randyabramson commented on #704
@hakhalid11 - I put in a request...big thanks for the reminder!

[2020-09-21 18:15] cantsin commented on #575
@blaughman @randyabramson

Some notes/questions:

- What should the activity log say for each report? Should it follow the generic `Assigned to "james"` format or, perhaps, `Bulk assigned to "james"`? Or, `Bulk assigned to "james" by "bill"`?

- I am also adding a special logging event so that we can track bulk assigns (in the case of inadvertent confirmation, errors, etc). This will be available

[2020-09-21 18:31] blaughman commented on #575
@cantsin @randyabramson
My thoughts:
1) I think following the generic format is fine for this function "Assigned to James..."'
2) Adding this event is great for allowing us to backtrack on records affected by bulk actions.  This also allows us to keep the activity generic from the first bullet you mentioned.
3) This behavior makes complete sense and would operate in a manner I would expect.

Thank

[2020-09-21 18:43] randyabramson commented on #575
@cantsin @blaughman

All of the above is good by me. My only questions is if there is value in denoting that something was part of a bulk assign in the logs. It sounds like adding the event in cloud.gov is helpful. Just throwing out the idea that it might be helpful to sort bulk assigns in the logs as well.

@cantsin what's your advice here?

[2020-09-21 21:56] cantsin commented on #575
@randyabramson we should log as much as possible imo :sweat_smile: (whilst ensuring that no PII is logged)

Currently we have activity logs for each report individually, so it's a bit hard to do "global" activity logs, which is where cloud.gov comes in -- by default cloud.gov collates logs at a application level instead.

Happy to add more logging where-ever desired: on the application level or th

[2020-09-22 00:50] randyabramson commented on #575
Thanks @cantsin

It doesn't sound like there is much value as assigning something as part of a 'bulk assign' in the logs and will it will be repetitive with the labeling on Cloud.gov, so let's keep everything as @blaughman stated.

Thanks!

[2020-09-22 13:33] Jkrzy opened #713 "Write a unit test for `ComplaintActions.get_actions`"
@cantsin submitted a pull request https://github.com/usdoj-crt/crt-portal/pull/678/ to render user names in the activity log instead of ID. This PR and changed function lacks test coverage.

We'll add a unit test(s) to the above open pull request to assert the desired behavior of `ComplaintActions.get_actions`.

[2020-09-22 13:59] randyabramson commented on #704
@hakhalid11  - Spanish bullet is:

Retos con la rescisión de un contrato de arrendamiento debido a un cambio de estatus militar

[2020-09-22 18:27] Jkrzy opened #714 "Developer training sessions continuation"
Building on the progress from #241 and as part of ongoing transition discussions aroundFrom our last pairing session where we went over transition, we're revisiting and expanding the sessions on which we'll focus on development of skills.

- [x] CircleCI overview
- [x] CircleCI configuration (working on in #686)
- [x] NewRelic overview
- [x] NewRelic alerts and management (working on in #703)
- [

[2020-09-23 00:49] #689 closed

[2020-09-23 00:51] #685 closed

[2020-09-23 00:54] #688 closed

[2020-09-23 00:58] #693 closed

[2020-09-23 01:02] #691 closed

[2020-09-23 01:05] #670 closed

[2020-09-23 01:06] #679 closed

[2020-09-23 01:07] #692 closed

[2020-09-23 01:56] randyabramson commented on #674
@cantsin - I believe that the previous HTML tag expired. Google says they give you a 'grace period' to verify, but they don't state how long that grace period is.

Wondering if we can add this new tag as a hotfix?

New tag supplied for Google Search Console: <meta name="google-site-verification" content="WVT4_Ja5oSh3rhswyl3OQsLbdxZgOVCgxG7hMoWzL0w" />

[2020-09-23 12:30] #675 closed

[2020-09-23 14:48] #589 closed

[2020-09-23 20:51] #645 closed

[2020-09-23 23:21] cantsin commented on #674
Boooooo (regarding unknown grace period, though in fairness this is probably to deter spammers and squatters). Yes, we'll have to add this as a hotfix. I think @ilodidoj can do this, though!

[2020-09-23 23:56] randyabramson commented on #674
@cantsin yes, frustrating, but understandable!  Thank you to you and @ilodidoj

[2020-09-24 11:41] blaughman opened #715 "[Bulk Actions] Change the status of multiple records at once"
## Narrative
As a CRT user, I want to change the status of multiple records at once so that I can process my work more efficiently.

## Acceptance Criteria

1) Given I am on the view all table
when I look in the header of the table
then I see a 'square' icon to the left of the text 'Incoming records'

2) Given I am on the view all table
when I click on the 'square' icon
then the 15 displayed recor

[2020-09-24 14:01] hakhalid11 commented on #700
@randyabramson I wanted to confirm the new copy edit should be "Disability (including temporary, recovery, HIV, or drug addiction)" and not whats in the screenshot below.

[2020-09-24 14:31] randyabramson opened #716 "HotFix Issues - 09/24/20 - Expired Google Search Console Tag + Google Analytics Security Issue"
**Two Hotfix requests:**

1. On card 674 Google Search Console: Our verification tag expired. Can we please update the code in the header of all complaint portal pages to include this tag:

New tag supplied for Google Search Console: ```<meta` name="google-site-verification" content="WVT4_Ja5oSh3rhswyl3OQsLbdxZgOVCgxG7hMoWzL0w" />```

**Acceptance Criteria:**
We'll know we're done when:

- [ ] Eng

[2020-09-24 14:41] blaughman commented on #700
@hakhalid11 @randyabramson I'm checking with Naomi on this question.

[2020-09-24 15:15] blaughman commented on #700
@hakhalid11 @randyabramson I just heard back from Naomi, this is the final copy:

“Disability (including temporary or recovered, and including HIV and drug addiction)”

[2020-09-24 15:54] randyabramson commented on #674
Closing this since the fix for this card is in hotfix card 716

[2020-09-24 15:54] #674 closed

[2020-09-24 19:47] hakhalid11 commented on #699
@blaughman We need Spanish translation for the new bullet. Thanks

[2020-09-24 19:52] hakhalid11 commented on #700
@blaughman We will need Spanish translation for the new copy edit

[2020-09-25 12:14] randyabramson commented on #716
Both search console and GA are functioning as expected. Closing this ticket.

[2020-09-25 12:14] #716 closed

[2020-09-25 15:57] cantsin commented on #623
Few notes.

- `Primary Issue` verbiage is a bit long. Can we shorten the wording? Currently I have to embiggen this dropdown, looks like this (note that some lines still wrap over):

![2020-09-25_08-53.png](https://images.zenhubusercontent.com/5eb05c8e896abe15ccf6dfa3/e9f78dbd-8a42-4ee4-b290-7c70bccd93a7)

- For `Relevant Details`, I have a slightly different dropdown list (which comes from extant

[2020-09-28 13:37] randyabramson commented on #699
@hakhalid11 translation here:
Se le negó el reempleo o fue despedido debido a estatus de servicio militar

cc: @blaughman

[2020-09-28 15:48] randyabramson opened #717 "Election Day KPI plan"
Randy to outline Election KPI descriptions and sources:

Google Analytics
Google Search Console
Logs
Trend Dashbaords
Reddit
Facebook/Twitter
What else?

[2020-09-28 15:53] randyabramson opened #718 "Brainstorm - Voting specific language/routing on Election Day - think about RISKS"
Issue: on Election Day, we should make users with Voting issues feel that they are in the right place and it is easy to file voting related issues.

==
Brainstorm:

Choice 1: voter issue language on front page of portal

Choice 2: Modal that includes voter specific language

Choice 3: Modal that jumps users in a VOT specific form
- Question - how do you deal with contact info and page 1?

Choice 4

[2020-09-28 16:35] cantsin commented on #709
Looking at this real quick -- whoops. I think we accidentally reversed "Activity" and "Actions". It's a bit confusing here because "Actions" really means "Comments." Pushing up a quick fix for this.

[2020-09-28 16:54] randyabramson commented on #709
@cantsin I see what you're saying now. When I select 'actions,' it actually prints 'activity' which is comments and other activities.

I think it should map exactly as it appears in the UI, so

1. Actions = Actions
2. Activity = Comments and other activity (opened, closed, etc.)

Make sense?

[2020-09-28 17:33] cantsin commented on #709
Yep, makes sense!

One question, it's still a bit unclear to me what should be in `Activity`. Currently `Activity` only contains comments. From your above statement, I take we want `Activity` to be comments _and_ status changes (open, closed, ...) on the record? If so, should `Actions` also have status changes?

Also CC @blaughman

[2020-09-28 18:00] blaughman commented on #709
Activity is the category we really need to be careful with.  That is where a lot of information resides that is typically redacted.  Any comments or summary added to a record should not be a part of what is shared with an external agency.

[2020-09-28 18:05] randyabramson commented on #709
@cantsin @blaughman OK, I defer to Bill.

I think we just leave activity off as a check box option then, right??

[2020-09-28 18:51] cantsin commented on #709
My fix is in develop now. Can y'all please make sure it works as expected? :sweat_smile:

Yes, `Activity` is left off as a check box.

Side note, I think I confused myself. `Activity` contains what happens to the record, `Actions` are comments. Argh!

[2020-09-28 18:56] blaughman opened #719 "Add a today button to the proform"
## Narrative
As a CRT intake specialist, I want a today button added in the proform so that I can create records more quickly.

## Acceptance Criteria

1)  Given I'm on the proform page
when I look in the 'CRT Receipt date' field
then I see a [Today] button next to the month/day/year fields

2) Given I'm on the proform page, 'CRT Receipt date' field
when I select the [Today] button
then I see toda

[2020-09-28 19:00] blaughman opened #720 "Change intake type on proform to checkboxes instead of dropdown menu"
## Narrative
As a CRT intake specialist, I want a checkboxes in the 'intake format' on the proform so that I can create records more quickly.

## Acceptance Criteria

1)  Given I'm on the proform page
when I look in the 'Intake format' field
then I see four checkboxes with the following selections
- [ ] letter
- [ ] phone
- [ ] fax
- [ ] email

## Mockup (developer's choice - either 2 x 2 or 1 ver

[2020-09-28 21:41] #708 closed

[2020-09-28 21:51] randyabramson opened #721 "Election Day KPI Plan"

[2020-09-28 21:53] randyabramson opened #722 "What Election Day Success Looks Like Meeting + Mural"

[2020-09-29 11:44] randyabramson commented on #709
@cantsin Looking on DEV and I still see 'Activity' as a check box option (I did a hard refresh and still see it). @blaughman had concerns about having that as a checkbox, so I think we should remove that.

[2020-09-29 13:14] blaughman opened #723 "[Bulk Actions] update multiple records with any selection in the 'Activity' menu"
## Narrative
As a CRT user, I want to take action on multiple records at once so that I can process my work more efficiently.

## Acceptance Criteria

1) Given I am on the view all table
when I look in the column heading
then I see a 'square' icon to the left of the text 'Status'

2) Given I am on the view all table
when I click on the 'square' icon
then the displayed records on the current page m

[2020-09-29 16:09] randyabramson opened #724 "Additional Touchpoints Entry on Primary Concern Page"

[2020-09-29 16:37] cantsin commented on #709
Oh, I mis-read, apologies. So we want to *remove* the `Activity` option entirely? @blaughman ?

[2020-09-29 16:48] blaughman commented on #709
@cantsin Correct.  Selecting that option would never render a value since any action would be noted in the 'Activity' field.   Hope this helps.

[2020-09-29 17:24] cantsin commented on #709
Got it! Removing comments, nee `Actions` and before that, `Activity`, due to the accidental swap. :sweat_smile: Not confusing at all!

[2020-09-29 18:38] ilodidoj opened #725 "Index out of range error - Emailed URLs breaking issue"
We have seen index out of rage error when next or previous index id not valid in the URL
![image.png](https://images.zenhubusercontent.com/5d374c9d0efb727bd5a01afd/f7dd825d-e1dc-4be1-8a05-945f2a91479f)
As a developer, we should be able to check this error and remove the next or previous button from the report page.

[2020-09-29 18:42] cantsin commented on #723
Would be nice to have @Jacklynn 's mockups here too if possible?

[2020-09-29 19:48] Jkrzy commented on #703
@ilodidoj configured this in NewRelic on September 25th.

[2020-09-29 19:52] Jkrzy commented on #699
@hakhalid11, this one is still in the `ready for dev` column but we just merged https://github.com/usdoj-crt/crt-portal/pull/691

Please remember to self-assign when you pull a card and move it into the `Developing` column

[2020-09-29 20:27] cantsin commented on #723
Going to make a separate ticket for > 15 records as I believe we can do that immediately without much work and this can be done separately.

[2020-09-29 20:37] blaughman commented on #715
This function is wrapped into card 723.

[2020-09-29 20:37] #715 closed

[2020-09-29 21:40] cantsin opened #726 "[Bulk Actions] warn if > 15 records will be impacted"
Any selection over 15 impacted records will trigger the warning labels

Part of prepatory work for [723](https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/723)

[2020-09-29 21:58] cantsin commented on #712
Some suggestions from other 18F staff:

- https://github.com/trevoreyre/autocomplete
- https://github.com/mynamesleon/aria-autocomplete

[2020-09-30 00:53] Jkrzy commented on #706
On the landing page we're referring folks directly to the footer for contact information -- can we do that here instead of duplicating it on the page?

Links are beneath the `Submit a report` button

[2020-09-30 11:56] randyabramson commented on #706
Hey @Jkrzy -- I do recall us discussing this and I gave it some thought.

I believe we should keep this contact info high on the page if possible.

In trying to empathize with the user, I'm assuming that they are already under duress and adding another click would just lead to further frustration. The footer is well designed, but still has a good amount of information to sift through in order to g

[2020-09-30 15:01] blaughman commented on #699
Bullet is on Dev.  Moving to UAT.

[2020-09-30 15:02] blaughman commented on #711
Link now directs user to CRT's FOIA unit.  Moving to UAT.

[2020-09-30 15:03] blaughman commented on #704
Bullet appears on landing page and primary concern page.  Moving to UAT.

[2020-09-30 15:07] blaughman commented on #621
Function works as intended in Chrome and Edge.  Moving to UAT.

[2020-09-30 15:12] blaughman commented on #623
Function works as intended on Chrome and Edge.  Moving to UAT.

[2020-09-30 15:18] blaughman commented on #575
Function works as intended in Chrome and Edge.  Moving to UAT.

[2020-09-30 16:03] blaughman commented on #695
Closing per Haseeb.

[2020-09-30 16:03] #695 closed

[2020-09-30 16:03] blaughman commented on #696
Closing per Haseeb.

[2020-09-30 16:03] #696 closed

[2020-09-30 16:03] blaughman commented on #697
Closing per Haseeb.

[2020-09-30 16:03] #697 closed

[2020-09-30 16:03] blaughman commented on #703
Closing per Imran.

[2020-09-30 16:03] #703 closed

[2020-09-30 16:13] blaughman opened #727 "Onboard Karan"

[2020-09-30 20:50] cantsin commented on #723
@blaughman @randyabramson

Currently if an user changes the assigned section, we also reset the assignee and status. This seems somewhat at odds with bulk update, but let me know if I should do something special if the user bulk updates the assigned section (with or without updating either the assignee or status).

[2020-09-30 21:42] randyabramson commented on #723
Great catch @cantsin

My take:

1. If user changes assigned section without assigning status or assignee, we give them a warning message as we did with the other bulk messaging:
"You are about to change the section for xyz records. The status will be set to New and there will not be an assignee."
Button for 'Apply changes to xyz records' is present.

2. If user changes assigned section with assign

[2020-09-30 22:32] cantsin commented on #723
Sure, I can do this. Related to the above, I think I'm going to split up the work a bit further:

- Bulk update functionality (PR is ready for review) :tada:
- Prefill form field iff all reports have an identical field
- Follow up tweaks (such as above assigned section change)

That way we can get this work in sooner and test everything and play around with how bulk updates feel.

[2020-10-01 15:55] randyabramson commented on #727
Tasks from previous cards:

Invites to:
* core meetings
* documents/drive
* zenhub
* PA shareback doc (describing the thin slice)
* Charter
* Walkthrough vision, roadmap and thin slice @lalitha-jonnalagadda @UchMok
* Schedule meeting with design around end-to-end mockups @AvivaOskow
* Schedule meeting w/ design around User research, personas, etc @Jacklynn
* Schedule meeting w/ engineers around te

[2020-10-01 17:04] cantsin opened #728 "[Bulk assign] prefill form fields"
When doing bulk updates, we want to prefill a form field if and only if all selected reports have the same value for that field. If the reports differ with respect to this field, then the field will show Multi instead (which will serve as a blank dropdown).

"All reports" here meaning "all" (if selected) or the subset of records the user chose, whichever is greater.

See the original Bulk Update -

[2020-10-01 17:06] cantsin opened #729 "[Bulk Updates] behavioral tweaks"
- If user changes assigned section without assigning status or assignee, we give them a warning message as we did with the other bulk messaging: "You are about to change the section for xyz records. The status will be set to New and there will not be an assignee."
- Button for 'Apply changes to xyz records' is present.

- If user changes assigned section with assigning status and/or assignee, we f

[2020-10-01 19:13] blaughman opened #730 "Copy edit to HCE - Referral for Housing/Lending/Public Accomodation"
Marta made a change on the English version of this form letter response

HCE - Referral for Housing/Lending/Public Accommodation

Dear [Submitter Name],

You contacted the Department of Justice on [date of intake].

What we did:

Your report number is [Record Locator].

Team members from the Civil Rights Division reviewed the information you submitted. Based on your report, our team determined tha

[2020-10-01 21:41] Jacklynn opened #731 "[design] Extra spacing on mobile"
I was looking at the form in mobile version and it looks like there is a lot of extra spacing on the the header making it harder for users to get to the content
Screenshots of build:
![avg phone.png](https://images.zenhubusercontent.com/5d1a3b0bcc794602e102a513/f2764c78-f3f1-4753-a470-b0fafd1144bf)![iphoneSE.png](https://images.zenhubusercontent.com/5d1a3b0bcc794602e102a513/27dd1892-f618-4d37-b602

[2020-10-01 21:46] Jacklynn opened #732 "[design] text weight increase on rollover"
On the landing page it looks like the text weight changes when you click on the primary issues drop down, by default it's heavier weight than when the drop down is showing. I would expect it to be the thinner weight always.

![Text weight bug.mov.gif](https://images.zenhubusercontent.com/5d1a3b0bcc794602e102a513/751ef198-8c51-487e-b151-29880323c074)

[2020-10-02 13:10] randyabramson commented on #722
@Jkrzy  can we collab on the MURAL for this today?

[2020-10-02 13:10] #721 closed

[2020-10-02 13:11] #717 closed

[2020-10-02 14:39] hakhalid11 commented on #720
@blaughman question about multiple intake types selected.
![image.png](https://images.zenhubusercontent.com/5efb8164bf9ea016ca6016f2/e8e30f21-01de-4e2c-92eb-089446b92ab7)
is the user allowed to select more than one checkbox or is it only restricted to one intake format per report?

[2020-10-02 14:41] blaughman commented on #720
@hakhalid11 Only one box should be checked for this field.

[2020-10-02 14:58] hakhalid11 commented on #720
@blaughman thanks for the clarification, would the following screenshot work as an alternative. It seems limiting checkboxes to one input would take more work than just using a radio button.
![image.png](https://images.zenhubusercontent.com/5efb8164bf9ea016ca6016f2/f37cf393-b829-47e9-9677-ee288f9d7fdd)

[2020-10-02 15:07] blaughman commented on #720
@hakhalid11 That works for me.  Thanks.

[2020-10-05 12:59] randyabramson opened #733 "New TouchPoints form on Primary Concern page"
On the Primary Concern Page of the form, we want to add the below JavaScript that will add a modal tab. When the user clicks on the modal tab, the user will see a popup form.

====

``<script src="https://touchpoints.app.cloud.gov/touchpoints/e0517981/js" `async></script>`

====

We know we're done when:

- Tester can click the modal tab
- Tester can fill out the form and submit the form
- Tester

[2020-10-06 15:23] blaughman commented on #720
Function works as intended on Chrome and Edge.  Moving to UAT.

[2020-10-06 15:24] blaughman commented on #726
Function works as intended  in Chrome and Edge.  Moving to UAT.

[2020-10-06 15:46] randyabramson commented on #724
Closing this - replaced with card 733 in Sprint 30

[2020-10-06 15:46] #724 closed

[2020-10-06 15:47] randyabramson commented on #718
Brainstorm complete. Closing this,

[2020-10-06 15:47] #718 closed

[2020-10-06 15:47] randyabramson commented on #722
Mural meeting complete. Closing this,

[2020-10-06 15:47] #722 closed

[2020-10-06 16:10] blaughman commented on #719
Function works as intended in Chrome and Edge.  Moving to UAT.

[2020-10-07 00:03] #711 closed

[2020-10-07 00:04] #704 closed

[2020-10-07 00:09] #621 closed

[2020-10-07 00:32] #623 closed

[2020-10-07 00:37] #709 closed

[2020-10-07 01:14] #575 closed

[2020-10-07 01:19] #702 closed

[2020-10-07 15:34] blaughman opened #734 "[Bulk Actions] Printing multiple records at once"
## Narrative
As a CRT user, I want to print multiple records at once so that I can refer multiple records to external agencies or respond to FOIA requests.

## Acceptance Criteria

1) Given I am on the view all table
when I look in the column heading
then I see a 'square' icon to the left of the text 'Status'

2) Given I am on the view all table
when I click on the 'square' icon
then the displayed

[2020-10-07 17:26] Jkrzy commented on #713
@kmanubhai is going to tackle this one

[2020-10-07 18:04] blaughman opened #735 "Comments not rendering when printing a record and 'activity' is checked"
EOS flagged this issue.  Adrian was trying to print a record where she had added a comment and saved it.  Even though she also checked 'Activity'  in addition to the default boxes - all activities other than comments were populated on the PDF. I tested in Dev on record 445-BNX, and the comment did not show up on the printout either.

[2020-10-07 18:05] randyabramson commented on #713
Thanks @Jkrzy and @kmanubhai

[2020-10-07 19:19] randyabramson commented on #723
@Jkrzy When I checked this function on Dev, the 'apply changes' function is greyed out, even after I selected an Action.

Here is what I did:

* Start with [this view](https://crt-portal-django-dev.app.cloud.gov/form/view/?per_page=15&status=new&status=open&sort=-create_date&page=1
)

* Select two records and then 'Action'

* [Select section as "CRM"](https://crt-portal-django-dev.app.cloud.gov/fo

[2020-10-07 19:59] Jkrzy commented on #723
Comment is a required field for bulk actions, it needs to be populated before submission is possible

[2020-10-07 21:08] randyabramson commented on #723
thanks @Jkrzy

@blaughman - why are comments mandatory for bulk actions? Also, I missed the _* required_ messaging because it was off screen. Should we leave the 'Apply changes' button active here and bring up a 'comments required' message if they user has not filled it out?

[2020-10-07 22:05] randyabramson opened #736 "Add location name and complaint number to quick view"
### Problem Statement
As an intake specialist, I need to click into individual reports in order to see complaint ID numbers and complaint location name

### Acceptance criteria
Given when I am on the 'view all table'
When I see all of the records that pertain to the selected filters
Then I am able to click the carrots to see the quick view of each record

Given when I click on the quick view of a

[2020-10-08 16:02] #725 closed

[2020-10-08 17:25] randyabramson commented on #705
@hakhalid11 - in the interest of time, I am fine if this card has the same look and feel/contact info as card 706 and 707.

A nice to have would be to still have each page having unique messaging at the top ('This page is being maintained,' 'something went wrong' and 'we can't find what you're looking for' respectively.

Please note that the 500 error page encapsulates all other errors beyond 404

[2020-10-08 17:47] randyabramson commented on #705
@hakhalid11 also, the text for the 404 page needs to be as follows:

404 | Page Not Found
We can't find the page you're looking for.

Try one of these links:

File a complaint
About the Civil Rights Division

If you need to contact us immediately, you can reach us by:
Email
Phone
(202) 514-3847
1-855-856-1247 (toll-free)
Telephone Device for the Deaf
(TTY) (202) 514-0716"
Mail
U.S. Department of J

[2020-10-08 18:34] randyabramson commented on #723
@blaughman said he'd get feedback from users on if we need additional messaging for the required comments field.

[2020-10-08 21:33] randyabramson opened #737 "BUG: Intake Specialist name cannot be removed from 5 tickets"
### Background

On 10/8, Intake Specialist name contacted Randy and Bill to report that she re-routed 5 tickets from HCE to other sections. In normal behavior, her name would be removed from these tickets, but in this instance, her name stayed with these tickets.

### Randy Triage

I tried to remove Intake Specialist name from these two tickets in both EDGE and CHROME:

I was not able to remove he

[2020-10-09 13:50] Jkrzy commented on #737
This looks to be rooted in how we're using accessible-autocomplete, specifically we're providing no way for a user to select a `null` value or otherwise remove a current assignee.

https://github.com/alphagov/accessible-autocomplete#null-options

[2020-10-09 14:39] Jkrzy commented on #737
Clarifying question for @randyabramson and @blaughman

The issue we're investigating is:

1. The section for a given report was changed but the `assigned to` field was not automatically cleared.

AND/OR

2. User's cannot "un-assign" a report by modifying the `Assigned to` field to empty on the Report details page.

[2020-10-09 14:46] randyabramson commented on #737
@Jkrzy  - it is AND.

The reporter only had only reported number one.

I realized number two when I was trying to remove the reporter's name from the ticket.

It is up to you if you want to tackle number one and two on this ticket or if you just want to solve for number one first and we can create a second ticket for number two.

[2020-10-09 16:27] Jkrzy commented on #737
Thanks!

Let's split these up since they're discrete issues. I'll create new cards for each.

[2020-10-09 17:20] randyabramson commented on #737
Thank you @Jkrzy

[2020-10-09 18:37] Jkrzy opened #738 "Assignee not clearing on Section change for BulkActions"
In #737 we received a report of

In https://github.com/usdoj-crt/crt-portal/blob/03ad53591da9a4107e1ddb7a5222b7eb86767fe8/crt_portal/cts_forms/views.py#L457 we implemented the clearing of `Assignee` when `Section` was changed on the individual report form.

This implementation is limited to modifying individual Reports, it is not applied when using the newer `BulkActions` functionality.

We'll kno

[2020-10-09 18:42] Jkrzy opened #739 "Users unable to un-assign Reports"
In #737 we received a report of user's being unable to select an `empty` or `null` value for the `Assigned to` field and remove the current assignee from a Report.

@Jkrzy took an initial look:

We'll know we're done when:
- [ ] We've decided how/if a User should be able to un-assign a Report
- [ ] We've implemented any necessary functionality to allow users to un-assign.

[2020-10-09 18:44] Jkrzy commented on #737
Replaced by:
 * https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/738
 * https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/739

cc: @randyabramson

[2020-10-09 18:44] #737 closed

[2020-10-12 16:31] randyabramson opened #740 "Extra Instance in Production"
Assigning to Lindsay

[2020-10-12 16:50] randyabramson commented on #707
Reiterating assumption number three in case it was overlooked in the above: * There are a ton of errors beyond 500 (or 404 for that matter). It is assumed that this page will display the correct error number as it is relevant.  A list of common errors are here: https://blog.pixelfish.com.au/most-common-website-errors

[2020-10-12 17:36] randyabramson opened #741 "Analytics Export training"

[2020-10-12 17:40] randyabramson opened #742 "Connect with Isabelle on Election Day DOJ.gov language and links"
Bill and Randy

[2020-10-12 17:41] randyabramson opened #743 "If X then Y documentation - technical preparedness"

[2020-10-12 17:51] randyabramson opened #744 "One pager on filtering -training"

[2020-10-12 18:27] randyabramson opened #745 "Election Day Language TBD"

[2020-10-12 18:28] randyabramson opened #746 "Move VOT module to number one slot"

[2020-10-12 19:10] randyabramson commented on #705
@hakhalid11 -- Looks good! I see it on dev. A couple of tweaks before we move it to UAT complete, please:

1. Take out **"Try returning to the previous page**
2. Phone info should be:

(202) 514-3847
1-855-856-1247 (toll-free)
Telephone Device for the Deaf
(TTY) (202) 514-0716"

[2020-10-12 23:11] kmanubhai commented on #736
pull request submitted, let me know if need any changes on this ticket

[2020-10-13 15:25] randyabramson commented on #700
@hakhalid11  - the translation is "Discapacidad (incluyendo temporal o recuperada, e incluyendo VIH y adicción a las drogas)"

cc: @blaughman

[2020-10-13 16:28] cantsin commented on #738
@randyabramson @blaughman

Currently if we change the section for an individual record, we unset the assignee and set the status to new. This is forced, and happens _even_ if the user sets assignee and/or status in the same form submission. Accordingly, I am following similar logic for the bulk action functionality here. I don't think this should be too surprising, but opening this up for discussi

[2020-10-13 16:32] cantsin commented on #729
Closing in favor of https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/738.

[2020-10-13 16:32] #729 closed

[2020-10-13 16:34] cantsin commented on #738
I think the other ticket was a duplicate, so I'm copying and pasting what was there before:

[code]

Notes: the logic is different here so we may have to discuss this. I can add messaging, but I think it's better to be consistent between the individual and bulk action form where applicable.

[2020-10-13 16:37] blaughman commented on #738
@cantsin @randyabramson I would expect the bulk section change to revert status back to 'new' and remove any assignee from the selected records.  I like the message above indicating what will happen once they take action on those records.

[2020-10-13 16:43] randyabramson commented on #723
@cantsin I was testing Bulk Actions on Dev and saw that text is not wrapping on this record in EDGE. Not sure if this is just a DEV thing or somehow related to BULK ACTIONS:

https://crt-portal-django-dev.app.cloud.gov/form/view/445/?next=%3Fper_page%3D15%26assigned_section%3DELS%26status%3Dnew%26status%3Dopen%26sort%3D-create_date%26page%3D1&index=0

Screen capture attached
![max.PNG](https://ima

[2020-10-13 16:51] cantsin commented on #723
Thanks!

I do not think this bug is not related to bulk actions -- did you edit the correspondent information individually? If so, yes, you can set the name to a very long string, since we have a limit of 225 characters for either first/last name. We can elide using some CSS :magic:, but I think this wouldn't be a problem during normal usage?

[2020-10-13 17:52] randyabramson commented on #723
Decisions from 10/13/20 meeting with @blaughman and @cantsin

* Decision - if you assign a section, you can't assign a specific user

* We would like a message telling user that if they change section, the ticket would be marked as 'new'. This would be for individual and bulk

* Grey out Jurisdiction

* Classification stays in

* Bulk print/Save
- dynamic winZip is a lot of work
- bulk print is ha

[2020-10-13 20:30] hakhalid11 commented on #700
Spanish translation is now on dev/stage

[2020-10-13 22:46] cantsin commented on #738
As per meeting today, we agreed here to:

- Grey out "Judicial district"
- Classification stays in

I'm disabling the widget but it may be easier to remove entirely. Will toss up for review and see what others say.

[2020-10-13 23:50] randyabramson commented on #738
Sounds good...thanks @cantsin

[2020-10-14 13:38] randyabramson commented on #705
@hakhalid11 - friendly reminder about these fixes. Once you make these, I can move these to UAT complete.

* Take out "Try returning to the previous page

* Phone info should be:
(202) 514-3847
1-855-856-1247 (toll-free)
Telephone Device for the Deaf
(TTY) (202) 514-0716"

[2020-10-14 13:43] randyabramson opened #747 "Imran trains Randy/Bill on data export for analytics"
Meeting set for 10/20

[2020-10-14 13:46] randyabramson commented on #741
Meeting set for 10/20

[2020-10-14 16:37] kmanubhai commented on #732
Hey, I was notable to replicate this issue, also on the code side i do not see font weight being changed on clicks. I am thinking this might be browser related, maybe even specific version of update. I checked this on Chrome Version 86.0.4240.75 (Official Build) (64-bit) GIF is below, did test on IE11 and Firefox but I primarily use Chrome.

If you are still experiencing this bug please provide me

[2020-10-14 16:40] randyabramson commented on #732
Hey @Jacklynn -- we can't recreate this in CHROME or EDGE or on iPhone Safari.

Can you share your browser version with us?

Thanks!

[2020-10-14 17:29] Jacklynn commented on #732
I'm using Chrome, the weight doesn't change until you click on it though (like to close or open it)

[2020-10-14 17:48] cantsin commented on #734
Update: we can force page breaks in the PDF using CSS.

Example: ![2020-10-14_10-47.png](https://images.zenhubusercontent.com/5eb05c8e896abe15ccf6dfa3/014bb8c3-cd90-4d76-b0d5-b6da08cadf7a)

I know we're not focusing on this issue currently but its good to know this is a technical hurdle we can overcome.

[2020-10-15 12:07] randyabramson commented on #705
Translation here[https://app.zenhub.com/files/183258764/5945c057-d938-4b7b-b75f-e167047e38d5/download](https://app.zenhub.com/files/183258764/5945c057-d938-4b7b-b75f-e167047e38d5/download)

[2020-10-15 12:09] randyabramson commented on #706
Translation here
[https://app.zenhub.com/files/183258764/3079d77f-f949-4944-a41f-44a68fc589fc/download](https://app.zenhub.com/files/183258764/3079d77f-f949-4944-a41f-44a68fc589fc/download)

[2020-10-15 12:10] randyabramson commented on #707
Translation here[https://app.zenhub.com/files/183258764/40aa60fb-b060-44ff-b165-3c537f3113e7/download](https://app.zenhub.com/files/183258764/40aa60fb-b060-44ff-b165-3c537f3113e7/download)

[2020-10-15 14:35] ilodidoj commented on #740
Lindsay and I will do this in a pairing session.

[2020-10-15 21:47] #727 closed

[2020-10-15 21:48] randyabramson opened #748 "Onboard DataViz"
Onboarding non-developers

1.	Get Email Access (Imran? Other IT?)
2.	Get Skype Messenger Access (Imran? Other IT?)
3.	Send laptop ?? (Imran? Other IT?)
4.	Phone + RSA access (Imran? Other IT?)
5.	Government training sessions (Randy check with HR)
6.	Access to Slack – 18F coordinate
7.	Other software (MS Office, Adobe, etc.) (Darren)
8.	Invites to core meetings – Randy / Bill
9.	Review History/Goal

[2020-10-15 21:48] randyabramson opened #749 "Onboard Designer UX"
Onboarding non-developers

1.	Get Email Access (Imran? Other IT?)
2.	Get Skype Messenger Access (Imran? Other IT?)
3.	Send laptop ?? (Imran? Other IT?)
4.	Phone + RSA access (Imran? Other IT?)
5.	Government training sessions (Randy check with HR)
6.	Access to Slack – 18F coordinate
7.	Other software (MS Office, Adobe, etc.) (Darren)
8.	Invites to core meetings – Randy / Bill
9.	Review History/Goal

[2020-10-16 10:48] randyabramson opened #750 "Bug: Clear All filter not working on dev, stage or prod"
We got a report from intake specialists that the 'Clear All' filters were not working on Prod.

Bill confirmed the issue.

**Triage**

**Scenario 1 on DEV in CHROME: Clear New/Open filters**
1. I open the admin console at: https://crt-portal-django-dev.app.cloud.gov/form/view/
2. I get redirected to https://crt-portal-django-dev.app.cloud.gov/form/view/?status=new&status=open&no_status=false
3. I

[2020-10-16 11:37] randyabramson opened #751 "Election Day Voting modal"
### User Story: As a complainant, I want to see highly visible voting specific language and action links so that I know that civil rights portal is the correct place to submit a voting related complaint and learn about my voting rights

### Acceptance Criteria
Given that I am on civilrights.justice.gov home page on desktop, phone or mobile browsers
When I look at the page
Then I see a modal at the

[2020-10-16 14:31] #749 closed

[2020-10-16 15:08] Jkrzy commented on #750
Thanks for replication notes @randyabramson!

I see the origin, introduced [here](https://github.com/usdoj-crt/crt-portal/commit/8278fd0508b3c872e9dad52f2de246079bdcc98d) in https://github.com/usdoj-crt/crt-portal/pull/685.

In practice this attempts to call `.map` on a String, resulting in
[code]

[2020-10-16 18:10] hakhalid11 commented on #707
@randyabramson quick clarification, I am assuming this card if for all other error codes (500, 503, etc.) except for error 404.

[2020-10-19 12:34] #743 closed

[2020-10-19 12:35] randyabramson commented on #734
@cantsin wow...thanks for exploring this! cc: @blaughman

[2020-10-19 13:04] blaughman commented on #750
The bug seems to have been resolved.

[2020-10-19 13:06] blaughman commented on #736
Quick view contains the requested items.

[2020-10-19 13:43] Jkrzy commented on #738
https://github.com/usdoj-crt/crt-portal/pull/706 looks good and I'll merge shortly.

@cantsin, I'm +1 for your earlier comment to remove `Judicial District` from the form if it is not a modifiable field for `BulkActions`

[2020-10-19 16:28] cantsin commented on #712
None of these are a drop in replacement, alas; we will have to do a bit of work to integrate any of these (maybe a custom widget would be best).

[2020-10-19 17:42] Jkrzy commented on #705
@blaughman, @randyabramson, @hakhalid11  -- this card has been dancing all over the board :smile:

The work done so far has been limited to updating the 404 error page template. This is part of the acceptance criteria in the original issue but not all.

We still need changes to render that page for a 404 response instead of re-directing to SSO.

I'm going to create a new card for that work.

[2020-10-19 17:48] Jkrzy opened #752 "Don't re-direct on 404 page not found"
Follow-up to https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/705

We've updated the 404 error template but need to address redirects to SSO.

# Acceptance Criteria
Given that I am on the civilrights.justice.gov domain
When I hit a page that does not exist (either cause by human typo, broken link or other non-script related failure)
Then I

[2020-10-19 17:49] Jkrzy commented on #705
Created: https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/752

[2020-10-19 18:48] #741 closed

[2020-10-19 19:54] blaughman commented on #734
@cantsin @randyabramson I updated the AC's to reflect our earlier conversation.  Please let me know if there are any questions or concerns.

[2020-10-19 20:27] Jkrzy commented on #706
I got started on this and have the inner-workings and documentation for maintenance mode in place, still needs template work but noting here for whomever picks this up next.

https://github.com/usdoj-crt/crt-portal/pull/714

[2020-10-19 20:45] randyabramson commented on #706
Thank you @Jkrzy

[2020-10-19 20:56] randyabramson opened #753 "Enhancement - Filter reports for one day's time"
### User Story:
I am a product owner that wants to be able to filter reports in the Complaint Portal for 24 hours worth of time so that I can better understand the types of reports that come in on a given day.

### Backstory:
If I enter a date range of just one day ([starting on 10/5/2020 and ending on 10/5/2020](https://crt-portal-django-prod.app.cloud.gov/form/view/?status=new&status=open&create

[2020-10-19 21:06] randyabramson opened #754 "Include 'Summary' filed in data export"
### Background:
The VOT team is going to be adding codes to the Summary Field on Election Day that represent various reasons for why users are submitting complaints. Dan has asked that Anthony to report on and visualize these complaint tallies.

Currently, the Summary Field is not part of the data export.

Please make the Summary Field part of the data export.

[2020-10-20 11:27] randyabramson commented on #707
@hakhalid11 this is in the assumptions section. There is a good list of errors here:  https://blog.pixelfish.com.au/most-common-website-errors

[2020-10-20 12:42] randyabramson commented on #705
Ah, thank you for pointing that out @Jkrzy  !!

[2020-10-20 12:48] randyabramson commented on #750
@ilodidoj - can we move this to staging?

[2020-10-20 13:04] ilodidoj commented on #750
@cantsin @Jkrzy Please add this card to current release 10-20-2020. CC: @randyabramson.

[2020-10-20 13:08] ilodidoj commented on #750
@cantsin @Jkrzy I think the https://github.com/usdoj-crt/crt-portal/pull/705/commits/07b2f326e063bd8b0755f9d827523e5798be49fb already taking care of this, correct? In that case, please ignore my earlier request.

[2020-10-20 16:28] randyabramson commented on #705
Tested on Chrome and EDGE + mobile

[2020-10-20 17:30] hakhalid11 opened #755 "Disability Personal Characteristic comma removal"
Disability Personal Characteristic - please remove comma:
please change "Disability (including temporary or recovered, and including HIV and drug addiction)"
to
Disability (including temporary or recovered and including HIV and drug addiction)

[2020-10-20 18:05] ilodidoj opened #756 "502 Bad Gateway: Registered endpoint failed to handle the request Error on csv data extract"
As and Portal Admin user I should be able to export data to csv using the portal admin function.

Getting 502 Bad Gateway: Registered endpoint failed to handle the request error when exporting all current records about 30,300 records using the portal Admin console on chrome  or EDGE browser.

![image.png](https://images.zenhubusercontent.com/5d374c9d0efb727bd5a01afd/6f7183eb-4d60-4c23-ad72-7c4de61

[2020-10-20 18:07] blaughman commented on #723
@cantsin @Jkrzy @randyabramson Bug discovered - the 'Routed' column is blank if a user selects 'Multiple' as a section assignment.

[2020-10-20 20:54] randyabramson opened #757 "Install Google Tag Manager Code"
Please install the following 2 tags into:
* https://civilrights.justice.gov/
* https://civilrights.justice.gov/report/ (and each 'page' of the report if that is how it is coded)
* https://civilrights.justice.gov/privacy-policy

**Paste this code as high in the <head> of the page as possible:**
[code]
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6M8JRD"
height="0" width="

[2020-10-21 14:45] Jkrzy commented on #753
Work around, increment the `create_date_end` by 1 to capture a single day.

example:

`create_date_start=2020-07-20` AND `create_date_end=2020-07-21`

https://crt-portal-django-dev.app.cloud.gov/form/view/?create_date_start=2020-07-20&create_date_end=2020-07-21

[2020-10-21 14:58] ilodidoj commented on #753
Thanks @Jkrzy . I mentioned this yesterday, the feature by date already support this.  But 24 hours is different than One Day, are we talking about 24 hours from any point of time or this card is just for a single day report which ever date we pick? Not clear to me from the card.

[2020-10-21 14:59] ilodidoj commented on #753
Current today
 range ![image.png](https://images.zenhubusercontent.com/5d374c9d0efb727bd5a01afd/53a59e82-66ef-4e87-b1c0-5edb97ea9647)

[2020-10-21 15:02] randyabramson commented on #753
@ilodidoj  @Jkrzy

I think we are interested in just getting the reports for a given day.

So, if I select start date of 10/21 and end date of 10/21, you would see all records entered from 12:00 AM ET - 11:59 PM ET.

Dos this make sense?

[2020-10-21 15:07] randyabramson commented on #753
@ilodidoj if I am reading your note correctly, in the current world, the 'one day' report can come up if I set the end date of 10/22. But wouldn't that include reports coming in on 10/22? Again, I think the above example I give above is more intuitive.

[2020-10-21 15:10] ilodidoj commented on #753
@randyabramson Agreed, your current example clearly define the scope of the card, i.e. this is a filter for a given single day (any day) not just today.

[2020-10-21 15:51] ilodidoj commented on #757
@randyabramson the first script probably missing beginning part of the script.  Does not have the opening/beginning for the </script> tag.

[2020-10-21 16:26] hakhalid11 commented on #707
@randyabramson @blaughman I got some good comments from @cantsin about this cards PR review. He made some good points about using our existing message and help text for our errors (ex. 500, 503, 403). In the initial PR I made the error page look like the design mock posted above which did not contain the extra helpful information so I removed it, but I think it would be beneficial to use these mes

[2020-10-21 17:40] randyabramson commented on #723
[https://app.zenhub.com/files/183258764/995df15c-b786-4799-afbf-7c2db509e9d4/download](https://app.zenhub.com/files/183258764/995df15c-b786-4799-afbf-7c2db509e9d4/download)

Adding a word doc attachment that outlines the expected UX when users utilize the various Bulk Action options.

cc: @cantsin and @ilodidoj

Let us know if we should create a new ticket for this or if you want to continue to wo

[2020-10-21 17:52] ilodidoj commented on #756
Kibana log for reference on 502 error https://logs.fr.cloud.gov/app/kibana#/dashboard/5e33ed90-a428-11ea-83da-35cbb6cfbe36?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'logs-app*',key:rtr.extra.x_cf_routererror,negate:!f,params:(query:endpoint_failure,type:phrase),type:phrase,va

[2020-10-21 18:43] hakhalid11 commented on #707
@randyabramson let me know if the below works
I kept the "we hope to fix this shortly" using the original screenshot

![image.png](https://images.zenhubusercontent.com/5efb8164bf9ea016ca6016f2/d5607bb5-ec0d-45b5-bf48-aa560bec3133)

[2020-10-21 19:00] randyabramson commented on #707
That works, @hakhalid11 !

[2020-10-21 20:57] cantsin opened #758 "bulk change rules"
Bulk Change Rules
Randy Abramson, Bill Laughman
10/21/20

    1. Bulk Section Change
        a. When selected
            i. Status goes to NEW
            ii. Assigned goes to ‘no one’

                • Required: when section is changed that Status automatically goes to NEW and is GREYED OUT and assigned to goes to GREYED OUT. ALSO Primary Classification goes to 'No value' and Judicial District

[2020-10-21 20:58] cantsin commented on #723
Thanks; made a new issue over at https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/758

[2020-10-22 16:23] #744 closed

[2020-10-22 17:40] randyabramson commented on #758
@cantsin @ilodidoj @blaughman @Jkrzy

**Background**
Per our chat today, Bill and I understand that the change of section will trigger a number of fields to become disabled and display 'locked in' values (see below for behavior).

Note that we realize that if a user makes other selections BEFORE changing the section that some of the changes in the various drop downs might be hard to dynamically ch

[2020-10-22 19:21] randyabramson commented on #756
Just updating this card...per our standup today, we will limit exports for only one month.

Product owners don't need exports for greater than one month and Anthony is fine with one month as well.

I am taking this out of the current sprint.

cc: @blaughman @Jkrzy @ilodidoj

[2020-10-23 12:15] #742 closed

[2020-10-23 12:15] #745 closed

[2020-10-23 13:41] Jkrzy opened #759 "BulkActions must only write to the activity log when Report fields are modified"
Origin: https://github.com/usdoj-crt/crt-portal/pull/718#issuecomment-714744592

When using BulkActions, if one changes the section for a report which already has any combination of:
*  no one assigned
* is status=new
* no primary classification

BulkAction “resets” those fields, by attempting to set them to an empty string,  anyway along and creates associated entries in the activity log.

We sho

[2020-10-23 15:13] Jkrzy opened #760 "Error pages must be accessible"
We implemented a new foundational error template in https://github.com/usdoj-crt/crt-portal/pull/698 but missed a handful of issues surfaced via checking w/ [Accessibility Insights](https://accessibilityinsights.io/).

These accessibility concerns now persist across all errors rendered with this base template.

We will:
- [ ] Identify all accessibility issues on custom error pages with [Accessibil

[2020-10-23 15:24] randyabramson commented on #758
@cantsin

Two things I'd like to see changed:

1. Don't make 'multiple' an active choice on SECTION. The header can remain, but it should not be selectable.
2. Please change the helper text from "...press the 'Back to All' button to the left" to "press the 'Back to All' button"
- Nice to have - if the we can make the 'Back to All" text clickable , that would be great...the text in that case would

[2020-10-23 16:11] cantsin commented on #728
Edit: removed markdown

[2020-10-23 17:24] randyabramson commented on #758
@cantsin this is working as expected on CHROME and EDGE.

If you can get to the below, we can move this forward.

1. Don't make 'multiple' an active choice on SECTION. The header can remain, but it should not be selectable.

2. Please change the helper text from "...press the 'Back to All' button to the left" to "press the 'Back to All' button"

* Nice to have - if the we can make the 'Back to All

[2020-10-23 17:31] cantsin opened #761 "bulk action design tweaks"
# Update:
## Change colors on the "actions" bar so it stands out more
- Background of bar should be blue-warm-80v #162E51
- text and check mark white
- "Actions" button can be blue-warm-10 #E1E7F1 with blue-warm-80v text and blue-warm-30v hover #81AEFC

# Mockup
_The table is not the most recent design, but just pay attention to the bar at the bottom_

![Screen Shot 2020-10-23 at 1.48.09 PM.png](h

[2020-10-23 17:36] blaughman commented on #758
@cantsin @randyabramson In my testing, it doesn't appear that 'Primary Classification' is resetting to no value when the records are reassigned to another section.

[2020-10-23 17:41] AvivaOskow commented on #761
![Screen Shot 2020-10-23 at 11.24.30 AM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/27948e26-60cc-479a-89b2-811963e4c5ba)

[2020-10-23 17:51] cantsin commented on #758
@blaughman i can't replicate, is there something i need to do beforehand? what i did: change two records to have the same primary classification (both different sections), then i reassigned section for both. classification is reset as expected.

[2020-10-23 18:16] blaughman commented on #758
My mistake.  I was testing in staging when I noticed the behavior.  James let me know this is only in Dev at the moment.  This works as intended.  Moving to UAT.

[2020-10-23 18:20] randyabramson commented on #758
Woo hoo!!!

From: blaughman <notifications@github.com>
Sent: Friday, October 23, 2020 2:17 PM
To: 18F/crt-portal <crt-portal@noreply.github.com>
Cc: Abramson, Randy (CRT) <Randy.Abramson@crt.usdoj.gov>; Mention <mention@noreply.github.com>
Subject: Re: [18F/crt-portal] bulk change rules (#758)

My mistake. I was testing in staging when I noticed the behavior. James let me know this is only in Dev

[2020-10-23 18:29] #723 closed

[2020-10-23 18:37] randyabramson commented on #728
Working on CHROME and EDGE. Moving to UAT Complete

[2020-10-23 18:47] cantsin commented on #758
PR is up for these changes (1 and 2 above, I also added the link)

[2020-10-23 18:55] blaughman commented on #738
Function works as intended in Dev.  Moving to UAT.

[2020-10-23 19:08] randyabramson commented on #707
@hakhalid11  how do I test for this?

cc: @blaughman

[2020-10-23 19:21] hakhalid11 commented on #707
@randyabramson great question I don't see a direct way to invoke error codes we are using with this card. I'd like to loop in @Jkrzy to see if he has any thoughts on this.

[2020-10-26 15:47] randyabramson commented on #706
@Jkrzy if you have a url for me to test this, please let me know.

[2020-10-26 15:50] randyabramson commented on #761
Colors adjustment works on CHROM and EDGE

[2020-10-26 16:17] blaughman opened #762 "Push extra instance into production on 10/29."

[2020-10-26 16:57] randyabramson commented on #762
@ilodidoj  adding you to this card for visibility

cc: @blaughman

[2020-10-26 17:29] Jkrzy commented on #706
We'll coordinate a test on the development environment by enabling maintenance mode there.

cc: @ilodidoj, @randyabramson

[2020-10-26 19:07] blaughman opened #763 "Spike - Hate Crime Data analysis"
Determine if hate crime should route based on the primary concern.

[2020-10-27 12:56] #762 closed

[2020-10-27 13:06] randyabramson opened #764 "Email Roll Out Strategy and Risk Identification"
Roll Out Strategy and Risk Identification

[2020-10-27 16:05] blaughman commented on #746
Voting is in the #1 slot.

[2020-10-27 19:39] #751 closed

[2020-10-27 20:40] randyabramson opened #765 "Amazon Email contract"
12/9/20 update - @ilodidoj working on getting us a JMD AWS POC

[2020-10-27 20:41] randyabramson opened #766 "Email user stories - thin slice"

[2020-10-27 20:42] randyabramson opened #767 "Election Retro"

[2020-10-27 20:43] randyabramson opened #768 "Blue Sky Meeting"

[2020-10-27 20:46] randyabramson commented on #756
@ilodidoj  - can we add this to READY FOR DEV?

[2020-10-27 20:48] randyabramson opened #769 "Design Audit"

[2020-10-28 18:52] cantsin commented on #734
For bulk printing 100 records, I've gotten the data transfer down to 1 mb on my machine (previously it was 8 to 12 mb). For reference, a single record currently takes ~100kb data transfer. We'll have to test again once this feature is in dev but I'm OK with this amount so far. There are ways to minimize this transfer amount but I think I've gotten most (all?) of the low hanging fruit.

The resulti

[2020-10-28 19:24] randyabramson commented on #734
Thank you for doing this leg work, @cantsin ! Much appreciated.

[2020-10-29 15:29] blaughman opened #770 "Proform branching questions not matching up"
After we moved the VOT module to the top of the complaint form, if you select VOT on the proform, the employment branching questions appear.

[2020-10-29 15:38] randyabramson commented on #770
@cantsin @blaughman - I am OK with moving the VOT module back to previous position in order to fix this bug.

[2020-10-29 16:18] blaughman commented on #770
Function works as intended.  Moving to UAT.

[2020-10-29 21:59] #761 closed

[2020-10-29 22:02] #681 closed

[2020-10-29 22:10] #700 closed

[2020-10-29 22:15] #699 closed

[2020-10-29 22:25] #726 closed

[2020-10-29 22:27] #719 closed

[2020-10-29 22:27] #720 closed

[2020-10-29 22:40] #733 closed

[2020-10-30 00:07] #728 closed

[2020-10-30 00:10] #746 closed

[2020-10-30 00:13] #687 closed

[2020-10-30 00:17] #738 closed

[2020-10-30 00:18] #755 closed

[2020-10-30 00:20] #601 closed

[2020-10-30 00:21] #758 closed

[2020-10-30 00:24] #684 closed

[2020-10-30 00:27] #750 closed

[2020-10-30 00:30] #736 closed

[2020-10-30 00:49] randyabramson commented on #705
@Jkrzy @cantsin @ilodidoj

Formatting on 404 on CHROME PC looks off:
https://civilrights.justice.gov/report/fewewf

![404-chrome.PNG](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/cd3165d7-0989-4657-a76a-f4bb1e144430)

[2020-10-30 00:54] randyabramson commented on #752
@Jkrzy  - I noticed that I get redirected with this URL https://civilrights.justice.gov/weffw

Maybe that page is considered 'restricted' but maybe it is part of your first AC above.

[2020-10-30 01:11] #770 closed

[2020-10-30 01:12] #707 closed

[2020-10-30 01:13] #706 closed

[2020-10-30 01:14] #705 closed

[2020-10-30 01:14] #740 closed

[2020-10-30 01:16] #686 closed

[2020-11-02 19:23] blaughman commented on #753
Function works as intended.  Moving to UAT.

[2020-11-04 14:16] Jkrzy commented on #764
@randyabramson - Is this card fulfilled by the word doc we've collaborated on as a team?

[2020-11-04 14:18] Jkrzy opened #771 "Onboard TimB"
Welcome Tim!

- [x] Invite to slack channels
- [x] Invite to 18F managed GitHub teams and zenhub
- [x] DOJ invite to collaborate on crt-portal repo
- [ ] Cloud.gov access if/when needed
- [x] Code walkthrough and local dev setup
- [x] Invite to standing meetings

[2020-11-04 15:48] randyabramson commented on #764
@Jkrzy yes, I think you are right. I think some other cards will spill out of your technical analysis and some specific use cases will come out of the interviews. Beyond that, I think the attached doc clearly outlines risks and fleshed out pitfalls.

Closing this.

[https://app.zenhub.com/files/183258764/3c8780dd-98b6-4940-bcb1-c478fbba6d90/download](https://app.zenhub.com/files/183258764/3c8780dd

[2020-11-04 15:49] #764 closed

[2020-11-04 16:04] randyabramson commented on #752
Works on EDGE, CHROME and mobile. Moving to UAT complete

[2020-11-05 16:38] randyabramson commented on #771
@ilodidoj Do we need to think about equipment for Tim? I know there's also a clearance process with Albert's team.

[2020-11-05 16:49] ilodidoj commented on #771
@randyabramson it depends on DOJ-CRT and GSA/18f engagement standpoint as well as his role on the project.  If this is similar to James and Joe's role, then we follow the same steps we did for James/Joe.  I am not sure we created a JCON account for either of them.  JCON device only applicable after a CRT JCON account is created.

[2020-11-05 16:52] Jkrzy commented on #771
Imran's right, Tim does not need a JCON account or equipment.

[2020-11-05 20:31] #763 closed

[2020-11-05 20:57] randyabramson commented on #754
Summary field shown in csv export as expected. Moving to UAT complete.

[2020-11-06 17:55] Jkrzy commented on #734
In the development environment we're seeing a 400 response on navigation to the bulk actions page with 100 or more reports selected.

Initial clue is from cloud.gov logs where I believe Django is raising a `SuspiciousOperation` exception on attempting to render the template.
`   2020-11-06T12:49:35.66-0500 [APP/PROC/WEB/0] ERR Attempted access to '/img/alerts/warning.svg' denied.`
`   2020-11-06T1

[2020-11-06 18:29] Jkrzy commented on #734
I believe it's a path issue in the template, submitted https://github.com/usdoj-crt/crt-portal/pull/738 to remedy.

[2020-11-06 19:55] AvivaOskow opened #772 "Nov. Design Audit: Public facing enhancements"
## Landing

**DESKTOP**

#### DOJ seal and name
is wonky, seal looks too small in comparison to name, spacing between "U.S. Dept.." and larger "Civil Rights Division" is too large, and first line looks too big, Merriweather still looking extra bold/chunky
- [ ] Change "U.S. Department of Justice" to 12px
- [ ] reduce spacing between lines
- [ ] Make seal larger (60px works)
- [ ] Reduce spacing be

[2020-11-06 21:21] timoballard commented on #759
@Jkrzy - is the activity stream the main (and perhaps only) concern here? Asking because the description suggests that we should prevent the no-op activity stream entries, but also prevent the associated update queries from including fields that aren't actually changing.

After looking into this a bit, filtering the activity stream for no-ops is pretty straightforward, but reworking the actual dat

[2020-11-09 21:11] AvivaOskow opened #773 "Nov. Design Audit: View all table"
## Header

#### "View sections" button
- Currently the dropdown is yellow on the dark blue background, when clicked on it changes to white with blue text, the change is a little jarring and doesn't match the expected behavior of a dropdown like this.
- [ ] Suggest keeping blue background, but list below could stay white

#### Currently
![Screen Shot 2020-11-09 at 3.21.04 PM.png](https://images.zen

[2020-11-09 22:05] AvivaOskow opened #774 "Nov. Design Audit: Individual record page"
## Actions

#### Rerouting guide
- [ ] Suggest moving "rerouting guide" under the "Sections" label instead of to the right of the drop down

#### Currently
![Screen Shot 2020-11-09 at 4.22.49 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/9b854f64-adc8-4544-bbfe-4552348317f7)

#### Could be
![Screen Shot 2020-11-09 at 4.26.45 PM.png](https://images.zenhubusercontent.com/5846

[2020-11-10 12:11] #768 closed

[2020-11-10 12:11] #767 closed

[2020-11-10 12:12] #710 closed

[2020-11-10 12:15] randyabramson commented on #769
* Individual Records
https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/774

* View All table
https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/773

* Public Facing Enhancements
https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal

[2020-11-10 12:45] randyabramson commented on #734
@cantsin  -- awesome work on this!  Three questions, if you don't mind:

1. Here, can we change the wording to 'print/save'?

![print-save.PNG](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/81efee21-169f-4666-89c3-f7a9c48edceb)

2. I noticed that if I select all 15 records from the 'view all table,' the 'print' button is greyed out until I select the 'activity' checkbox:

![greyed-

[2020-11-10 13:07] randyabramson commented on #731
Gaps between modules are closed. @AvivaOskow should we also close the gap between the number bar and the first entry module?

![mobile grab.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/b202e560-8adf-49a4-b199-a5408df17933)

[2020-11-10 13:21] randyabramson opened #775 "Pairing on Google Tag Manager implementation for 1. Button Tracking and 2. Form fall out"
Hey all,

I used tag manager on static html pages, but not on dynamic applications.

I feel like I could use developer help to go through the documentation on this.

Randy

[2020-11-10 13:35] randyabramson opened #776 "Visual cue of sections selected on view all table"
**Problem statement:** As an intake specialist, I need to select the section drop down menu in order to see all of the sections I've previously selected.

**Design reference** at https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/621

**Acceptance criteria:**

Given that I am on the 'view all table'
When I select one section from the section

[2020-11-10 13:58] randyabramson opened #777 "Identify technical tasks for Email integration"

[2020-11-10 14:00] randyabramson opened #778 "Collaborate with Anthony on 'actionable reports' counting"

[2020-11-10 14:01] randyabramson opened #779 "Policy chat on Hate Crimes"

[2020-11-10 14:03] randyabramson opened #780 "Write repeat reporter interviews for 1. Front office 2. Intake specialists"

[2020-11-10 14:05] randyabramson opened #781 "Inventory list of current 'work arounds'"

[2020-11-10 14:12] #771 closed

[2020-11-10 15:05] blaughman commented on #734
I'm not sure that this will ever happen, but I tested what would occur if I changed the number of records per page to 150 and tried to print them all.  This isn't really a concern for me - I don't think a CRT user would set up their display like this, but I wanted to put it out there.
![image.png](https://images.zenhubusercontent.com/5d2390b2c408a2441fc2874d/7db52e37-e657-44b1-932e-634ba27828d1)

[2020-11-10 17:56] cantsin commented on #734
Thanks y'all. We also have a bug when going to the second (or third ...) page and doing "print all". Not sure how often this may come up but I'll see if I can fix this as well as fixing the above suggestions.

[2020-11-10 19:57] randyabramson commented on #734
Thank you @cantsin !!

[2020-11-10 21:03] Jkrzy commented on #759
@timoballard, it's the primary concern for sure -- we shouldn't write an entry to the activity log unless there's an actual change being made. That includes avoiding non-meaningful changes like `Updated from "None" to ""`

[2020-11-10 21:05] emilycryan commented on #776
**Dropdown Options**

When the top nav drop down has...

No selection:
- As-is, View sections

One selection:
- “ADM” (or whatever the section is selected)

Two selections:
- “ADM, CRM”
    - Listed alphabetically
    - Separated by comma and space

Three + selections:
- “Multi (x)”
    - “x” is the number selected as long as the number is 10 or less (aka, not all)

All selections:
- All selection

[2020-11-13 16:16] blaughman commented on #759
Function works as intended.  Moving to UAT.

[2020-11-13 20:53] AvivaOskow opened #782 "Nov. Design Audit: Pro form"
### Primary concern

- second line height is too tight: "Discrimination at school..." example

- [ ] Should be 16px between radio buttons or check boxes, line height should be 26px

#### Currently:
![Screen Shot 2020-11-13 at 3.25.31 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/95465cd6-5880-467f-b788-0badfca4605e)

### Personal characteristics

- Spacing under protected c

[2020-11-17 12:54] randyabramson commented on #776
Works on Chrome and Edge. Nice work @timoballard  on the counter! Moving this to UAT

[2020-11-17 13:10] randyabramson commented on #734
@cantsin we see the below items outstanding. Let us know if we should open another ticket for these? Thanks and great work on this!

1. Change button to say print/save
2. Print all button isn't active until 'activity' is checked
3. 'Print all' total should be 100 or less than 100 (depending on number selected)
4. Your mention of changing the records to 150 per page

Anything else?

[2020-11-17 13:17] #778 closed

[2020-11-17 13:23] randyabramson commented on #769
Audit complete. Next steps are to provide mock choices for:

1. View all table
2. Bulk actions

Will work off of those tickets moving forward.

Closing this ticket.

[2020-11-17 13:23] #769 closed

[2020-11-17 13:24] randyabramson commented on #756
@ilodidoj  I don't have permissions to test this. Can you take a look and move to UAT complete if it passes?

[2020-11-17 13:45] randyabramson commented on #760
@timoballard  I see the <alt> text in the source code for the images, so I think we are good there.  I tried to install Google Speak to listen to how the text plays for the semantic issue, but I don't think Google Speak can read pages on DEV. Can you please advise here?

[2020-11-17 14:05] ilodidoj commented on #760
@randyabramson another alternative is windows narrator. You can turn on using Windows LOGO Button + CTL + Enter. Then hit tab on the page you are testing.  Blind or visually impaired user use tab to content location.  Once done, use the same buttons to turn it off.

[2020-11-17 14:07] ilodidoj commented on #756
@randyabramson this part only can be verified in production, due to the amount of data is needed. I will check on production after release today.

[2020-11-17 14:11] randyabramson commented on #756
thank you @ilodidoj

[2020-11-17 14:12] randyabramson commented on #760
thank you @ilodidoj

[2020-11-17 14:31] Jkrzy opened #783 "Bulk printing success message must reflect number of selected reports"
Origin: https://github.com/usdoj-crt/crt-portal/pull/742#pullrequestreview-531771199

Upon printing reports the application renders a success message containing the number of selected reports.

Currently, when you select Print first 100 reports the generated success message says

This message should reflect and confirm the user's actions on the previous page.

"Printed `<fields>` for `<report coun

[2020-11-17 14:33] Jkrzy commented on #734
Hi @randyabramson, the fixes for those are on the development instance and ready for UAT.

I also created another card for a messaging fix related to bulk printing: https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/783

[2020-11-17 14:37] Jkrzy commented on #683
Thanks @cantsin!

Agree that `204 builtins:KeyError from cts_forms.views:CRTReportWizard.post` is the most interesting, the rest we can let lie.

I'll make a new card specifically to investigate the protected class related errors.

@ilodidoj, check out James' assessment above.

[2020-11-17 14:43] Jkrzy opened #784 "Investigate CRTReportWizard.post error caused by absent protected_field data"
From Jame's assessment: https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/683#issuecomment-726936439

Mapping to our [triage guide](https://docs.google.com/document/d/1r--kIwyk7rvYXUZ4jv4HbCS3oxZDUcQQuKs8dq-WgCQ/edit#heading=h.iis9ire43bsj) This is a low priority bug occurring in production.

We'll investigate this issue further in an attem

[2020-11-17 14:44] Jkrzy commented on #683
Created https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/784 to investigate the first and most common error.

[2020-11-17 15:10] blaughman commented on #734
Issues have been resolved.  Function tested on Chrome and Edge and approved.  Moving to UAT.

[2020-11-17 15:12] Jkrzy commented on #562
Let's pick this card back up!

[2020-11-17 16:15] randyabramson commented on #775
We are having a goals meeting with the front office next week, so I feel like what comes out of that will inform what we want to track. Closing this issue.

[2020-11-17 16:15] #775 closed

[2020-11-17 16:20] Jkrzy commented on #777
On the technical front, we'll start simple:

* Credentials will be stored in environment variables
* We'll use Django templates to render subject and message content while supporting i8n
* We'll send mail within the request->response process
* We'll include `unsubscribe` links in all outbound messages to external parties
  - [ ] Decide if we'll Implement Django side or Mailgun side
* We'll use [An

[2020-11-17 17:34] cantsin commented on #777
Shouldn't this be Mandrill? In any case, I'm inclined to use unsubscribe if it exists already on Mandrill (and cursory Googling indicates it does, at least for "Transactional Email") -- any particular concerns around this feature?

[2020-11-17 17:49] Jkrzy commented on #777
Yes! Definitely not `mailgun`.

Leaning towards that as well, for the decision point I'd want to confirm
- [ ] Can we include Mailgun's [unsubscribe link ](https://mandrill.zendesk.com/hc/en-us/articles/360039335713-Can-I-add-an-automatic-unsubscribe-link-to-Transactional-Email-emails-)via the API while using django templates/send_mail (I _think_ yes)
- [ ] Can the `Rejection Blacklist` be exporte

[2020-11-17 18:05] cantsin commented on #777
1. https://anymail.readthedocs.io/en/stable/esps/mandrill/#batch-sending-merge-and-esp-templates implies that we don't have to do anything special if we're using a built in merge tag, but we'll have to test to confirm. We might also want to document what we do here, so should we switch to another email provider, it will be easier to undo.

2. I believe so as well. https://mailchimp.com/developer/a

[2020-11-17 20:04] cantsin commented on #781
Anything y'all need help with here, from the dev side?

[2020-11-17 20:26] randyabramson commented on #781
Hi @cantsin yeah! We are really just looking for a list of outstanding workarounds that are out there (example: You have to spell out the full name on EDGE).

Once we have a list, we can start prioritizing these.

TBH, I am not aware of that many workarounds.

[2020-11-17 22:31] #757 closed

[2020-11-17 22:33] #753 closed

[2020-11-17 22:42] #754 closed

[2020-11-17 22:44] #752 closed

[2020-11-17 22:48] #756 closed

[2020-11-17 23:08] cantsin commented on #562
Our CSS assets are already compressed, thanks to gulp and `cssnano`. So I don't think it's worth re-doing the process for these assets. To compare:

[code]

[code]

[2020-11-17 23:33] timoballard commented on #701
@Jkrzy @randyabramson @blaughman - can I have NewRelic access?

[2020-11-18 12:20] randyabramson commented on #701
@timoballard  I think @ilodidoj (Imran) can help with New Relic access.

[2020-11-18 15:33] timoballard commented on #701
@ilodidoj set me up this morning, thanks!

[2020-11-18 17:03] #766 closed

[2020-11-18 17:36] ilodidoj opened #785 "Missing trailing comma for empty internal_summary column"
User experience missing column error using the data extract file generated from CP export. There are 47 headings in the current export, but in the first row (and many following it), there are only 46 columns. It appears the export does not include a trailing comma if the there is a protected_class listed without a internal_summary, i.e. if summary is blank or no summary.  Below are dev example exp

[2020-11-18 17:40] cantsin commented on #781
Currently (with the older accessible-autocomplete library) we had a workaround for changing assigned users in Edge: select the user, click outside the select, then re-select the user. Basically we had to re-jigger the autocomplete until it kicked in. We have a new library now, though, which should fix this particular workaround.

One possible workaround that may still remain: unselecting the assig

[2020-11-18 19:14] randyabramson commented on #781
Thanks @cantsin for the above. CC'ing @blaughman. If we can't think of others, we can close this out.

[2020-11-19 14:24] randyabramson opened #786 "BUG - duplicate activity log entries, complainant facing error saying they didn't fill out servicemember question, duplicate reports"
Details here:
https://crt-portal-django-prod.app.cloud.gov/form/view/37541/

[2020-11-19 15:11] Jkrzy commented on #786
[Hotfix](https://github.com/usdoj-crt/crt-portal/pull/748) up for review, triage and discussion in Slack.

[2020-11-19 16:33] blaughman opened #787 "Email form letter response to a single complainant."
## Narrative
As a CRT User, I want to email a form letter response to a complainant using the portal's interface so that I can respond to complainants more efficiently.

## Acceptance Criteria
1) Given I am on the 'Contact Complainant' modal
when I select a form letter from the drop down menu
then I see the greyed out 'Send' button become blue and available for selection

2) Given I am on the 'Con

[2020-11-19 17:08] #781 closed

[2020-11-19 17:54] cantsin commented on #712
We only use the autocomplete library for assignees; we have three different forms where we have an assignee field in the application:

- Filter by "assignee" on the "view all" reports page
- Individual report assignment
- Bulk report assignment

Testing notes:

- Edge is a must.
- Basic usage:
  - Test that changing an user (for any form above) does in fact change the user
  - Test that _clearing_

[2020-11-19 19:58] cantsin commented on #562
On review, our asset management is a bit of a mess -- part gulp with uswds custom adjustments and part django-compress. I briefly experimented with webpack but I think it doesn't bring us a whole lot of improvements either. So I think we should stay with what we have for now.

That being said, I can think of a few things that might motivate us towards better asset management:
- We incorporate more

[2020-11-19 20:11] blaughman commented on #476
Function is as intended.  Moving to UAT.

[2020-11-19 21:23] Jkrzy commented on #784
The origin — session data being cleared while a user is progressing through the form —  stands for other browsers as well, it’s just vastly less frequent. Samsung's browser in particular is hitting this behavior as it appears to be doing an extra _get_ request behind the scenes.

1. Be a user submitting a report
2. Have your session data cleared
  * Either by refreshing /report/ in another tab or

[2020-11-19 21:23] #784 closed

[2020-11-19 23:42] blaughman commented on #627
Reference the 5/19/20 sheet for the most recent routing permutations.

https://docs.google.com/spreadsheets/d/1Ba0617v1wqwf89vYkCQmpNGmi3yI-bfPgXSF8JPqkeQ/edit#gid=706357640

[2020-11-20 11:28] randyabramson commented on #712
Thanks for your notes on this @cantsin We'll try to test this today.

Randy

[2020-11-20 14:28] Jkrzy opened #788 "Parity between Staging and Live instances"
As a developer, I want the Staging environment to be functionally equivalent  to production so that manual and automated testing can be conducted with confidence that the results in Staging are consistent with a user's experience on production.

### We'll know we're done when:
- [x] We've inventoried and documented differences between `Staging` and `Production`
  * SSO
  * Cloudfront
  * What else

[2020-11-20 14:36] Jkrzy opened #789 "End-to-End test for Report submission spike"
As a developer, I need an automated test which progresses through, confirming the behavior of, the report submission process so that I can be confident my changes are not unexpectedly impacting it.

We're already running a development in the test pipeline as well as running tests against staging AND production upon deploy. We also previously approximated this with `pa11y-ci` [but greatly reduced t

[2020-11-20 14:49] Jkrzy opened #790 "Review and update PR review documentation"
As a code reviewer, I want the PR review checklist and documentation to highlight areas which may be harder to test and review -- such as code only in effect in specific environments -- so that we're confident our review and testing process is comprehensive.

## We'll know we're done when
- [x] We've updated `pull_requests.md` to require developers and reviewers to call-out functionality which may

[2020-11-20 16:33] Jkrzy commented on #562
@cantsin did we look at compression here or just minification/bundling?

When deployed we're sourcing directly from S3 -- https://cg-b88f3063-f22b-4f72-b235-51832fdfffca.s3-us-gov-west-1.amazonaws.com/static/css/compiled/styles.css -- which is minified but definitely not compressed with gzip or anything else.

We're using [django-storages](https://django-storages.readthedocs.io/en/latest/backends/

[2020-11-20 17:06] cantsin commented on #562
Good point. django-compress does not compress per se (misnomer!) but rather minifies and bundles. I'll turn on `AWS_IS_GZIPPED` and we'll have to test to see if this does what we expect in dev.

[2020-11-20 18:47] blaughman commented on #783
Function works as intended.  Moving to UAT.

[2020-11-23 14:26] Jkrzy opened #791 "Session data cleared on `GET` request to /report/"
We've noticed an increase in Report submissions failing the final form step due to required fields missing from the final set of data, particularly `protected_class`.

As these are required fields and the form itself will not allow you to progress without providing them, we investigated in #784 and found the following.

A *new* Report is started -- session data is cleared -- when a visitor perform

[2020-11-23 15:49] Jkrzy commented on #562
https://github.com/usdoj-crt/crt-portal/pull/747#issuecomment-731364849

https://github.com/usdoj-crt/crt-portal/pull/747#issuecomment-731377834

[2020-11-23 15:50] Jkrzy commented on #562
Moving this one to ready for review with: https://github.com/usdoj-crt/crt-portal/pull/750

We'll create a new card for the ongoing investigation into our use and potential removal of `django-compressor`

[2020-11-23 15:51] Jkrzy opened #792 "Django-compressor, remove if we're not going to use it"
In https://github.com/usdoj-crt/crt-portal/pull/747 and #562 we re-evaluated our implementation of `django-compressor`. On initial review it looks like it may not be necessary.

We'll continue that investigation and resolution here.

## We'll know we're done when
- [ ] We've made a decision as to keeping or removing django-compressor
   - [ ] If keeping, we've identified and implemented a minimal

[2020-11-23 16:05] Jkrzy commented on #777
Closing this one after these initial discussions with team, we'll refer back to it as we implement the first slice of email functionality.

[2020-11-23 16:05] #777 closed

[2020-11-23 16:09] timoballard commented on #732
@ilodidoj and I looked into this issue this morning. We're able to replicate only on Mac OS, using both Chrome and Safari. The visual change is triggered by the property `-webkit-font-smoothing`, which is set to `subpixel-antialiased` when the button is inactive, and `antialiased` when the button is active. We're guessing that this problem is specific to Mac fonts, since we see it in all browsers

[2020-11-23 16:12] randyabramson commented on #760
Question on this one:

1. When I mouse over the images, I don't see the alt text. Should I? I do see the alt tags in the code.
2. When I tab on these error pages using Windows Narrator, I hear the link text read, but not the static text. Is that expected behavior?

Randy

@Jkrzy  @cantsin @timoballard @ilodidoj

[2020-11-23 16:26] Jkrzy commented on #760
1. Expected, beyond screenreaders -- the `alt` text is rendered if the image cannot be displayed. Some browsers, like IE may render the `alt` attribute on mouse hover but that is better implemented with a `title` attribute if it's functionality we want.

2. Expected, the tab key typically navigates between interactive elements on the page. Depending on your browser/screenreader other keys provide

[2020-11-23 17:23] cantsin commented on #792
Update:

Bundling javascript assets via gulp will bundle _all_ our javascript files together, which isn't quite what we want. For instance, loading the front page will load javascript for the backend (and quite possibly break IE11 besides, since our backend javascript code isn't vanilla anymore).

I'm experimenting with making a distinction between backend and public javascript bundles. The tricky

[2020-11-23 17:39] Jkrzy commented on #792
Is there's another valuable, and hopefully tiny 😅,  interim step we can take to add hashes and/or otherwise do some cache breaking when we push new versions out. To avoid the "did you do a hard refresh?" dance.

[2020-11-23 18:25] Jkrzy opened #793 "Output application logs in JSON when deployed"
As a developer, I want our application logs structured w/ JSON so that when they're ingested by cloud.gov they are super easily searchable in Kibana and so multi-line output doesn't get parsed as multiple log entries.

https://cloud.gov/docs/deployment/logs/#structured-logging

Right now we're outputting plaintext with a bit of custom formatting, this works in _most_ instances but is lacking when

[2020-11-23 18:27] #779 closed

[2020-11-23 18:39] randyabramson commented on #712
@cantsin

Testing this now.

I think this works fine. Some small comments below that make the experience a bit odd, but it is still very usable:

1. I enter the letter 'd' and it takes 8 names before I see an assignee with the letter 'd' in their name
2. For entry 'pernell.carter,' I have to enter 4 letters before I see his name appear

cc: @blaughman

[2020-11-23 19:31] Jkrzy commented on #627
@blaughman are those permutations updated by you and what we should expect to see from the application after this change OR are we to provide updated permutations after removing the `if HATECRIME then route to CRM` logic?

[2020-11-23 20:03] cantsin commented on #792
Yes. There's `gulp-fingerprint` if we go all in with gulp -- fingerprinting in general, though, may be a different issue. Note that django-compress doesn't support fingerprinting either. That aside, I'm not aware of any good Django libraries for such, did you have any recommendations?

[2020-11-23 20:24] timoballard commented on #701
My local setup is not cooperating, such that the LOE for the value on this one isn't adding up- going to move back to ready for dev until or unless someone wants to pick it up or pair on it

[2020-11-24 11:11] #780 closed

[2020-11-24 11:22] randyabramson commented on #627
@Jkrzy - @blaughman is out this week, so let me know if I need to jump in and move this forward.

Also, @emilycryan  it might make sense here to come up with a power search of 'hate crime = yes' + some high priority key words as we work through the language changes, etc.

[2020-11-24 11:27] randyabramson commented on #789
@Jkrzy -- Just out of curiosity, is this automated script part of the New Relic tools or something written by 18F developers?

[2020-11-24 12:22] randyabramson opened #794 "Create power keyword search for hate crime + keywords"
Create power keyword search for hate crime + keywords.

Note this will not be a replacement for looking at each individual record...it will simply help set priority for review.

[2020-11-24 12:25] randyabramson commented on #794
Objective: Write a power keyword search that will let intake specialists to see reports that are marked as 'hate crime' = yes + high priority keywords

Key Results:
Determine percentage of Hate Crime reports that had these words. Iterate as needed.

[2020-11-24 12:42] randyabramson opened #795 "Pairing - Referal/DJ Number project request"
Objective: Measure the number of reports coming in that are measurable
Key Results: It will be hard to put a number against this task at this time, since we don't have any frame of reference. I believe seeing the number will potentially drive us to have 'share your voice' functions on our Portal to lower the number of complaints vs. opinions compared.

Background: We are being asked to allow intak

[2020-11-24 13:56] randyabramson opened #796 "Pairing on rerouting tracking"
Ideas around tracking rerouting:

1. Raw number of reroutes in a given time period
2. Track top 5 'hops' (ex. CRM --> DRS = 212 reroutes in time period) - might just be a sort on excel dump

[2020-11-24 13:58] Jkrzy commented on #789
@randyabramson, that's an option we'll look at. Using  NewRelic's [scripted browser testing ]( https://docs.newrelic.com/docs/synthetics/new-relic-synthetics/scripting-monitors/writing-scripted-browsers
).

The focus of this card is making a decision on where and how to enhance our test suite and creating follow-up cards to implement and/or revise any prototypes developed in this card so they're r

[2020-11-24 17:01] Jkrzy commented on #792
I think we can hook into `django-storages` with [ManifestFilesMixin](https://docs.djangoproject.com/en/2.2/ref/contrib/staticfiles/#manifestfilesmixin) though it looks a few folks have had trouble recently and needed a work-around:
https://github.com/jschneier/django-storages/issues/841

[2020-11-24 18:13] randyabramson opened #797 "Email Integration - 1st Slice - Mocks"
Place holder for user story around mocks for sending form letter to a single user from the complaint portal

- Side question - can we figure out OKRs for this feature (Emily said that sending form letters take between 5-10 minutes each)

[2020-11-24 18:16] randyabramson opened #798 "Email Integration - soft tasks"

[2020-11-24 18:52] cantsin commented on #792
@Jkrzy it does look like `ManifestFilesMixin` will do what we want but I consider fingerprinting to be orthogonal to the issue of removing (or keeping!) django-compressor. Should we have a separate PR for fingerprinting?

[2020-11-24 18:52] cantsin commented on #792
Played around with `ManifestFilesMixin` a bit, I _think_ this will do what we want (but needs more testing)

[code]

[2020-11-24 19:14] #683 closed

[2020-11-24 19:30] randyabramson commented on #798
- [ ] Is email foiable question? (RANDY)
- [ ] Work with Devs on 'export' plan from MailChimp to 0365 (Randy)
- [ ] Establish OKRs (Randy)
- [ ] Explore uploading CRM R1 letter (90% is R1) as form letter – talk to Jim or Tyneeta in CRM RANDY Sprint 33 (need dev for ID number, subject line, etc.) (Randy)
- [ ] Work with Malika and Dan on reviewing form letters (Randy)
- [ ] Remember Make sure recor

[2020-11-24 19:32] cantsin commented on #788
After looking at the code, there are a couple of other slight differences but I think these are safe to ignore:

- [Prod] Google Tag manager (includes Google site verification tag)
- [Non-prod] PII banner

[2020-11-24 19:45] randyabramson commented on #562
@cantsin @Jkrzy

I'm not sure how to test this. Can we move this to UAT complete?

[2020-11-24 19:54] cantsin commented on #562
To verify, we can check that the `Content-Encoding` has `gzip` in it (for any file served from S3).

[2020-11-24 20:36] randyabramson commented on #712
@cantsin - do you have any thoughts on my notes above? Should we move forward with this and then just add another card with tweaks?

[2020-11-24 20:42] randyabramson commented on #712
@cantsin

I noticed that on 'single report changes', that if I clear out an assignee, then enter a new assignee and hit 'apply changes' that the top status says 'Successfully updated Assigned to.' without listing the name.

Not a show stopper...we can fix this in the next sprint.

Randy

[2020-11-24 20:44] randyabramson opened #799 "'Assigned to' not listing name on single report assignee changes -"
Referencing card 712:

I noticed that on 'single report changes', that if I clear out an assignee, then enter a new assignee and hit 'apply changes' that the top status says 'Successfully updated Assigned to.' without listing the name.

[2020-11-24 20:46] randyabramson commented on #799
I see this happening in EDGE and Chrome

[2020-11-24 20:49] randyabramson commented on #713
@Jkrzy if there is a way for me to test this on staging, let me know.

[2020-11-24 21:27] randyabramson commented on #734
Working as expected., but note that it it taking over a minute to create the pdf for 100 reports on staging.

[2020-11-24 22:24] cantsin commented on #792
OK. So I think we should keep django-compressor after all (and use it for js bundling).

Unfortunately, when doing bundling via gulp, I found out that most of our javascript files assume that certain elements are present when running said script. If I naively bundle all the public javascript scripts, for instance, we get a ton of `getElementById` errors because the ids referenced on certain forms

[2020-11-25 16:30] cantsin commented on #734
Ooh yeah. It takes a while to render these 100+ pages into a PDF. Some optimization opportunities remain, so let me know if this wait takes longer or is blocking someone from doing what they need to do.

[2020-11-25 16:33] cantsin commented on #712
Thanks! Looking into these issues today. I'm not sure what's happening with the user search offhand ('d' not appearing in the first 7 names), will play around with that a bit,.

[2020-11-25 19:01] cantsin opened #800 "View sections CSS (Design Audit)"
Note that this is a collection of items taken from https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/773 and https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/774

These focus only on the private (crt staff only) pages.

#### "View sections" button
- Currently the dropdown is yellow

[2020-11-25 19:09] cantsin opened #801 "Rerouting position (Design Audit)"
#### Rerouting guide
- [ ] Suggest moving "rerouting guide" under the "Sections" label instead of to the right of the drop down

#### Currently
![Screen Shot 2020-11-09 at 4.22.49 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/9b854f64-adc8-4544-bbfe-4552348317f7)

#### Could be
![Screen Shot 2020-11-09 at 4.26.45 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c62

[2020-11-25 19:11] cantsin opened #802 "View Report (Design Audit)"
## Reported complaint card

#### Edit
- Hate crime drop down should be the same size as others, currently it's unnecessarily tight
- Reported reason spacing is too tight

#### Currently
![Screen Shot 2020-11-09 at 4.56.35 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/7025cfd3-a740-456d-8411-e9d134d7049e)

![Screen Shot 2020-11-09 at 4.52.23 PM.png](https://images.zenhubuser

[2020-11-25 19:13] cantsin commented on #799
I want to fold into some design changes into this one, if that's OK. Aviva says:

#### Assigned to
- Should the list of names appear if you don’t start typing? Currently nothing shows up unless you know who to start typing for
- Can we make them not bold except when you hover?

#### Currently
![Screen Shot 2020-11-09 at 4.49.34 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/

[2020-11-25 19:19] randyabramson opened #803 "First Slice Email Integration - Send single complainant form letter from CP"
### Objective:
Reduce the amount of time intake specialists spend on communicating with complainants

### Key Result:
Implement Email integration that will speed up response time and increase backlog burn rate by TBD %
-	On 11/25/20, backlog is 1,222
-	Need to figure out normal close rate per week
-	Compare with new burn rate

**As an intake specialist, I want to be able to send a single complaina

[2020-11-25 19:23] cantsin commented on #782
I think we can do all of these in one PR :+1:

[2020-11-25 19:25] cantsin opened #804 "DOJ seal (Design Audit)"
**DESKTOP**

#### DOJ seal and name
is wonky, seal looks too small in comparison to name, spacing between "U.S. Dept.." and larger "Civil Rights Division" is too large, and first line looks too big, Merriweather still looking extra bold/chunky
- [ ] Change "U.S. Department of Justice" to 12px
- [ ] reduce spacing between lines
- [ ] Make seal larger (60px works)
- [ ] Reduce spacing between seal a

[2020-11-25 19:26] cantsin opened #805 "Touchpoint (Design Audit)"
**Note**: some of these design changes may not be possible due to how Touchpoints works.

#### Primary Concern pop-up
needs some design love:

- [ ] Blue tab is currently using # 005EA2, which is not one of our colors. Suggest changing to our blue-warm-80v # 162E51 or blue-50 # 2378C3
- Module box (same for other pages with it):
- [ ] Round the corners to match the cards in form (5px)
- [ ] Radio

[2020-11-25 19:28] cantsin opened #806 "Personal characteristics spacing (Design Audit)"
**Note** this is not the first, or second, or third ... time that this spacing issue has come up. Changing the relevant CSS will almost certainly impact other form spacing so let's tread carefully here.

#### Personal characteristics
still is missing space between card header and question
- [ ] Add spacing like on other cards (32px I believe)

#### Currently
![Screen Shot 2020-11-06 at 2.22.10 PM.

[2020-11-25 19:29] cantsin opened #807 "USWDS date picker for public side (Design Audit)"
### Date
- [ ] Can we add the USWDS date picker? We use it on the CRT side

#### Currently
![Screen Shot 2020-11-06 at 2.25.36 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/e03c8c0f-36c9-40a8-99e6-67ad2ef68528)

#### Could add (_used in table filters_)
![Screen Shot 2020-11-06 at 2.26.25 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/3ccf744a-1e41-4ea

[2020-11-25 19:37] cantsin opened #808 "Progress bar (Design Audit)"
#### Progress bar
- [ ] Too much space between progress bar and first white box (originally was supposed to say name of page)
**Solution:** Add the page name in so folks know what the page is - or - we make the space smaller

#### Currently
![Screen Shot 2020-11-06 at 2.49.28 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/145cde46-5909-4a63-9e89-3a1a9790cb4d)

#### Could be

[2020-11-25 19:40] cantsin commented on #772
Looked at `happened` quickly, I think this is a consequence of how the html breaks. If I resize the window, I can get the break so I don't think this one is fixable, unfortunately. (But do correct me if I'm not understanding this issue correctly)

[2020-11-25 19:40] cantsin opened #809 "Review page (Design Audit)"
### Review page
- [ ] Should we remove the “submit” button at top? We discussed this being a strange interaction because we are asking them to review but putting the button there which would encourage them to just click without looking potentially, whereas if it's at the bottom they at least have to scroll

#### Currently
![Screen Shot 2020-11-06 at 2.29.16 PM.png](https://images.zenhubusercontent

[2020-11-25 19:42] cantsin opened #810 "Confirmation page (Design Audit)"
## Confirmation page

#### Headers
- [ ] Can we add our little line dividers here like on the homepage? Between the large Merriweather headers ("What to expect, what you can do next") and the content right below?

#### Currently
![Screen Shot 2020-11-06 at 2.33.15 PM.png](https://images.zenhubusercontent.com/5846f186b9dc3c6220230bf1/26ea105b-8456-4fe8-b9f5-c283edd7f476)

#### Should be
![Screen Sh

[2020-11-25 19:43] cantsin opened #811 "Print confirmation page (Design Audit)"
#### Print?

- [ ] Can we add a print button or an option to email themselves the confirmation page? I know this was out of scope before but wondering if it could be added soon

James says: when doing bulk print I made sure the confirmation page still looked reasonably good to print. It could be easy to add a button that pops up a print dialog. But this is also a good opportunity to refine how the

[2020-11-25 20:07] randyabramson commented on #734
@cantsin - we don't have feedback yet that specialists would batch this many reports at this time, so I think we are OK.

Randy

[2020-11-25 20:14] randyabramson commented on #799
@cantsin I am fine with both of your suggestions above. Thank you!

[2020-11-30 11:47] randyabramson opened #812 "Randy to talk to Amazon about Unsubscribe feature for Email Integration"
1. As a user, when I get communication from CRT, I need to be able to see and click on an unsubscribe note in the footer
- When clicked, I go to a screen and get a confirmation that I am unsubscribed

2. As an intake specialist, when I go to send a communication to a complainant, I need the Portal to check the name against an 'unsubscribe' database and alert me that I cannot send them an email

**

[2020-11-30 11:52] randyabramson opened #813 "Pairing on admin view / mail boxes for intake specialists"
Questions:

1. Will each section have their own URL or are all mail boxes administered via one URL?
2. Who gets access?

[2020-11-30 14:51] randyabramson commented on #787
Updated in ticket 803

[2020-11-30 15:09] randyabramson commented on #797
Covered in 803. Closing this.

[2020-11-30 15:09] #797 closed

[2020-11-30 15:10] randyabramson commented on #803
Adding mocks task to this ticket for @emilycryan

[2020-11-30 20:29] emilycryan commented on #803
Screens and click-thrus!

For the "happy path": https://projects.invisionapp.com/share/4BZKTCT6RAN#/screens

There is one case where we may not have an email address. In this case, we still want the user to be able to see the COPY and PRINT options. In this case, we will keep the SEND button greyed out. For a view of this screen, go to:

https://projects.invisionapp.com/share/4BZKTCT6RAN#/screens/

[2020-11-30 20:33] randyabramson commented on #803
Nice work @emilycryan !

[2020-11-30 20:44] randyabramson commented on #813
cc: @blaughman and @emilycryan

[2020-12-01 15:05] randyabramson opened #814 "Pairing needed - Mailchimp Export functions"
Checking MailChimp export feature. Looks like the 'events' export might be helpful. If not, we might need to rig our own history of sends via the API: https://mailchimp.com/help/export-back-up-data/

[2020-12-01 16:34] Jkrzy commented on #627
@blaughman picking this one up!

I updated the [sheet](https://docs.google.com/spreadsheets/d/1Ba0617v1wqwf89vYkCQmpNGmi3yI-bfPgXSF8JPqkeQ/edit#gid=706357640) you shared with a 12/01/2020 tab to capture the updated routing rules as I understand them.

As I understand, we're removing the hate crime question entirely from the routing logic.

[2020-12-01 16:59] blaughman commented on #627
@Jkrzy Correct.  The majority of these complaints were misrouted because of the answer to the hate crime question.  This should allow the primary concern and personal characteristics to be the main drivers of the routing.  Thanks.

[2020-12-01 17:18] blaughman opened #815 "Add CRM form letters"
These two form letters are the primary responses utilized by the Criminal Section.  These two responses should be added to the 'Contact Complainant' form letter menu.

CRM - R1 Form Letter
[https://app.zenhub.com/files/183258764/3e242ff5-70dd-4b9d-918c-807cb9e51795/download](https://app.zenhub.com/files/183258764/3e242ff5-70dd-4b9d-918c-807cb9e51795/download)

CRM - R2 Form Letter
[https://app.zen

[2020-12-01 18:02] blaughman commented on #627
@Jkrzy The updated sheet looks good to me.  Thanks.

[2020-12-01 22:14] #776 closed

[2020-12-01 22:21] #783 closed

[2020-12-01 22:22] #731 closed

[2020-12-01 22:22] #786 closed

[2020-12-01 22:28] #712 closed

[2020-12-01 22:29] #734 closed

[2020-12-01 22:32] #759 closed

[2020-12-01 22:32] #713 closed

[2020-12-02 15:07] randyabramson opened #816 "Bug - Activity Log not being updated"
Tests on 12/2/20 show that the activity log is not being updated when we changed section or status on Dev, Stage and Production

[2020-12-02 15:29] Jkrzy commented on #816
Triaging this one as a prod-high and needing a hotfix ASAP.

[2020-12-03 11:37] #795 closed

[2020-12-03 11:37] #796 closed

[2020-12-03 16:40] timoballard commented on #791
Screenshot below captures what the user currently sees when encountering this error. As discussed yesterday, a reasonable starting point for this issue would be to provide the user with a more helpful description of the problem, and perhaps recommend that they try again with a different browser. Thoughts @blaughman ?

![Screen Shot 2020-12-03 at 10.34.52 AM.png](https://images.zenhubusercontent.co

[2020-12-03 17:18] blaughman commented on #791
@timoballard @randyabramson @Jkrzy @ilodidoj @cantsin When we implemented the error pages, did we discuss the issue presented by Tim above?  I thought our belief was to keep the pages fairly basic, but this issue requires a little more help text than we currently offer.  Are there other options we should consider?

[2020-12-03 17:29] cantsin commented on #791
I think we can detect this particular error when it happens (to be technical: when we pop the `protected_class` from the form data) and render a separate error page instead. It could also be a 500 response code with a separate template (or even the same template but with different wording).

[2020-12-03 17:32] randyabramson commented on #791
Thanks for brining this up @blaughman and @timoballard .

This error template is a catch all for all errors except for 404 errors, so it might be a big task to write explanations for each possible error code (see https://kinsta.com/blog/http-status-codes/ for a complete list).

I do like the idea of perhaps creating a 'sniffer' script that would present a message to Samsung users and tell them to

[2020-12-03 17:34] timoballard commented on #791
As @cantsin alluded to, we can target this problem specifically because we have access to the underlying exception at the point where we render the standard `500` error page. So, we could look for the telltale sign of this problem (`protected_class` is missing) and in that case render a different, more detailed error page with help text suggesting that they try a different browser. @randyabramson

[2020-12-03 17:40] randyabramson commented on #791
@timoballard I was under the impression that even non-Samsung users could get this error (I believe @Jkrzy mentioned opening the form in another tab).

If that's the case, then I'm not sure if the suggestion of using another browser would always apply.

Secondly, do you think we can fix this error quicker than the time to come up with a specific error page?

[2020-12-03 17:52] timoballard commented on #791
@randyabramson it is true that you can run into this error in any browser, but only by deviating from what we would consider a standard traversal of the report submission process, such as having two report submission forms open in different tabs. There isn't an obvious solution to this issue that doesn't include changing the form behavior in other, perhaps equally or more problematic ways. For exa

[2020-12-03 18:23] randyabramson commented on #791
Hi @timoballard, thanks for this clarification...I'm following what you are saying.

My thoughts are:

1. Are we reaching out to Samsung or posting in their development boards to get clarity on this issue? I assume other people might be having the same issue and there might be a patch to this browser. On that point, we should monitor the number of Samsung users who see this error...perhaps a patch

[2020-12-03 19:45] cantsin commented on #791
Jumping in here. Regards 1, I looked through [the Samsung Internet support forum](https://forum.developer.samsung.com/c/samsung-internet/25) but did not find anything conclusive (to be fair, there's not much activity). There's also a [deprecated github repository](https://github.com/SamsungInternet/support) which is also of no help. Since Samsung Internet Explorer is a lesser known (and Chromium-d

[2020-12-03 19:48] Jkrzy commented on #789
Going to work in [this doc](https://docs.google.com/document/d/1K0gv-Rk-G9PWAg9VMCYerTUqO9wH7xdRJ-lyXBm_1gs/edit?usp=sharing) so we can comment and collaborate!

[2020-12-04 10:37] randyabramson commented on #803
@emilycryan it was requested that we deal with reports without Email addresses in a separate card

[2020-12-04 13:34] emilycryan commented on #803
@randyabramson Ok, then let's put the single screen view into whatever the new card is for that story. This is at: https://projects.invisionapp.com/share/4BZKTCT6RAN#/screens/439118013

-e

[2020-12-04 13:54] Jkrzy commented on #789
We'll

1. Add an additional layer of E2E testing by implementing a foundation for Playwright testing
We'll run these against staging in CI as part of the release process

[2020-12-04 15:35] Jkrzy opened #817 "Implement an E2E report submission test with playwright"
Building on #789

As a developer, I need an automated test which progresses through, confirming the behavior of, the report submission process so that I can be confident my changes are not unexpectedly impacting it.

We'll implement a test case encompassing the entire Report submission process using [playwright](https://github.com/microsoft/playwright-python).

Test case -- As a user I:
---
1. GET

[2020-12-04 15:42] Jkrzy commented on #817
Building on #789

As a developer, I need an automated test which progresses through, confirming the behavior of, the report submission process so that I can be confident my changes are not unexpectedly impacting it.

We'll implement a test case encompassing the entire Report submission process using [playwright](https://github.com/microsoft/playwright-python).

Test case -- As a user I:
---
1. GET

[2020-12-04 15:43] Jkrzy commented on #789
Created #817 to tackle implementation of this

[2020-12-04 15:49] randyabramson commented on #791
Thanks for that insight @cantsin

[2020-12-07 13:55] blaughman commented on #627
Complaints are routing as intended.  Moving to UAT.

[2020-12-07 13:56] blaughman commented on #816
Activity log now updated with hotfix.  Closing card.

[2020-12-07 13:56] #816 closed

[2020-12-07 14:35] randyabramson opened #818 "Explore New Relic error from 12/4"
Error reported
https://alerts.newrelic.com/accounts/2734035/incidents/192391910/eventslog?id=1282695051

[2020-12-07 14:36] #794 closed

[2020-12-07 20:11] blaughman opened #819 "Frequent Flyer - View All Table"
## Narrative
As a CRT user, I want to see if there are multiple records associated with an email address so that I know the complainant is a potential frequent flyer.

## Acceptance Criteria
1) Given I am on the view all table
when I look between the 'Status' column and the 'Routed' column
then I see a column labeled 'Total #' with a sort arrow on the right

2) Given I am on the view all table
whe

[2020-12-07 20:13] blaughman opened #820 "Email Filter"
## Narrative
As a CRT user, I want to filter records by a complainant's email address so that I can see all related records in the view all table.

## Acceptance Criteria
1) Given I am on the view all table
when I click the 'More' button in the Filters area
then I see a text box filter labeled 'Email' to the right of the 'Intake Type' filter

2) Given I am on the view all table
when I enter an ema

[2020-12-07 20:30] Jkrzy commented on #790
Resolved in https://github.com/usdoj-crt/crt-portal/pull/754

[2020-12-07 20:30] #790 closed

[2020-12-08 00:12] randyabramson commented on #791
Closing this since we are starting new tickets for this

[2020-12-08 00:13] #791 closed

[2020-12-08 00:53] randyabramson opened #821 "CRM weekly rerouting reports"
With the logic that automatically sends Hate Crime to CRM being disabled, we want to measure the normal rerouting volume before the change with the new values (going live on 12/15/20).

Can we get the number of reports rerouted from CRM to other sections for the following 7 day periods:

11/15 - 11/21
11/8  - 11/15
10/25 - 10/31
10/18 - 10/24

[2020-12-08 11:05] randyabramson opened #822 "Flag for 'section review'"
### Objective:
Align CTR resources to support 'actionable reports'

### Key Result:
Identify 90% (or more) of the reports that start in the Portal, are reviewed by sections and go on to getting a DJ number in the ICM system

### User Story:
As a product owner, I would like to be able to show management how many reports started in the Portal and were then flagged for 'section review' in each sectio

[2020-12-08 12:24] randyabramson opened #823 "'Sniffer' modal messaging for Samsung browsers"
### Objective:
Complainants are able to submit reports without errors

### Key Result:
Complainants using the Samsung Internet browser download another mobile browser, return to our Portal and successfully submit their complaint

### Background to this ticket:
[Ticket 791](https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/791). Note that Sa

[2020-12-08 14:06] randyabramson opened #824 "Protected_class missing Error page"
Needs approval and translation

### Objective:
Complainants are able to successfully submit complaints

### Key result:
Complainants using Samsung Internet, using multiple tabs/browsers, etc. that cause the 'Protected_class missing' error are informed of alternate browsers, advice on only using one tab/browser and other contact alternatives

### Ticket background:
[Ticket 791.](https://app.zenhub.

[2020-12-08 14:41] randyabramson commented on #789
@Jkrzy  we can close this ticket, correct?

[2020-12-08 14:54] Jkrzy commented on #789
:thumbs-up:

[2020-12-08 14:54] #789 closed

[2020-12-08 15:03] ilodidoj commented on #824
@randyabramson please check if this email ask.CRT@**crt.**usdoj.gov address is correct. **crt.usdo**j usually internal email probably can't resolve from public space.

[2020-12-08 16:37] Jkrzy commented on #788
Three main components from audit results, **SSO**, **Cloudfront**, and **Analytics**. For each I recommend we implement them in the staging environment.

The `Test site` banner, on all environments besides production, is excluded from consideration.

## Single sign-on
* Only in-use on production
* Handles all authentication checks
    * Currently cannot be tested in staging or development environm

[2020-12-08 16:41] Jkrzy commented on #788
cc: @ilodidoj, @cantsin, @timoballard, @randyabramson, @blaughman

Would love :eyes: on the initial report-out and recommendations above towards closing this card out. If finalized, each recommendation would be its own card for implementation.

[2020-12-08 16:49] Jkrzy opened #825 "Use optimized and smaller source for doj-logo-footer image"
The current [doj-logo-footer.svg](https://cg-b88f3063-f22b-4f72-b235-51832fdfffca.s3-us-gov-west-1.amazonaws.com/static/img/doj-logo-footer.svg) is the largest static file being served for civilrights.justice.gov. We're only using it for images that are ~64x64px, let's use a smaller image.

### We'll know we're done when
- [ ] We've replaced all occurrences of doj-logo-footer.svg with the smaller

[2020-12-08 17:09] randyabramson commented on #788
@Jkrzy I think your approach is great here.

RE: Google tag manager on Staging, it is possible - https://support.google.com/tagmanager/answer/6311518?hl=en , but will require some heads down time.

[2020-12-08 17:14] randyabramson commented on #824
Thank you @ilodidoj - yes the email should be Ask.CRT@usdoj.gov

I updated it above

[2020-12-08 17:31] cantsin commented on #788
Since we are going through all of this trouble anyway, would it be worth it to add Cloudfront and/or Analytics to dev as well? (I'd love to do SSO on dev but that'd lock us out, unfortunately).

[2020-12-08 17:51] randyabramson commented on #788
Good points, @cantsin

For me, Google Analytics on dev or staging would be great...looks like you can do that with 'profiles' https://softwareengineering.stackexchange.com/questions/139603/google-analytics-with-multiple-environments

[2020-12-08 17:58] randyabramson commented on #760
Alt text in place and interactive elements read semantically on DEV. Moving to UAT Complete

[2020-12-08 18:47] Jacklynn opened #826 "Error summary showing up in a the wrong order"
Issue:
I noticed our error summary doesn't show up in the same order as the questions on the page:
![Screen Shot 2020-12-08 at 10.42.11 AM.png](https://images.zenhubusercontent.com/5d1a3b0bcc794602e102a513/22ee720f-5a5d-4868-aa9e-c9d73d25e108)

Expected: For the summary of errors to show up in the same order as the questions appear on the page. From the screenshot, "Did this happen..." should be b

[2020-12-08 18:51] cantsin commented on #826
CC @blaughman @randyabramson for prioritization

[2020-12-08 19:31] randyabramson opened #827 "Regular research/contacting Samsung"
Regular research/contacting Samsung about error. Time boxed at 20 minutes per sprint. @randy and @blaughman  can assist as well

Per @cantsin:

Jumping in here. Regards 1, I looked through the Samsung Internet support forum but did not find anything conclusive (to be fair, there's not much activity). There's also a deprecated github repository which is also of no help. Since Samsung Internet Explo

[2020-12-08 19:34] randyabramson opened #828 "Randy meet with Sean / Lindsay re: tools"

[2020-12-08 19:37] randyabramson opened #829 "Bug Bashing before Live release"
cc @blaughman

I'll get this on the calendar and we can invite the team to join

[2020-12-08 19:45] randyabramson opened #830 "Randy x Bill - Feature list for testing"

[2020-12-08 20:36] emilycryan commented on #823
This is based on the modal we use on the admin side. I also massaged the content a bit to let the user know we are not requiring them to update their browser.

@AvivaOskow can you make sure the design works? Like I mentioned, this is the same design on the back end based on "Rerouting Guide" popup.

CC @randyabramson @blaughman

![Screen Shot 2020-12-08 at 3.34.56 PM.png](https://images.zenhubuser

[2020-12-08 20:50] cantsin commented on #822
We can add this checkbox to the CSV import, but I will have to think about how to figure out how to record the corresponding section that flagged the report.

[2020-12-08 20:51] cantsin commented on #822
Grabbing this one unless one of y'all wanted to do it @timoballard @Jkrzy

[2020-12-08 21:41] randyabramson commented on #476
Verified on staging

[2020-12-08 21:43] randyabramson commented on #562
@ilodidoj  - can you help confirm this is working on Staging?

[2020-12-08 21:52] randyabramson commented on #760
Verified on staging

[2020-12-08 21:57] randyabramson commented on #627
Verified on staging

[2020-12-08 21:59] randyabramson commented on #785
@ilodidoj could use your help confirming this on staging

[2020-12-09 14:02] randyabramson commented on #823
@emilycryan  thanks for the above.

One question: do we have to have the word 'error' here? At this point of the experience, no functional error has occurred yet. Would we better off with the word "Notice" or an icon like this? https://cdn3.vectorstock.com/i/1000x1000/84/57/orange-triangle-exclamation-mark-icon-warning-sign-vector-13228457.jpg

[2020-12-09 14:09] emilycryan commented on #823
@randyabramson Good point- I'm open to calling it something else like:
- Notice
- Incompatible Browser
- Advisory

I don't think we need an icon in this but I'll defer to @AvivaOskow for that decision.

-e

[2020-12-09 14:20] randyabramson commented on #823
Let's go with 'Notice' -- I don't want people to think that the entire site is incompatible with the browser.

Thank you, @emilycryan

[2020-12-09 14:21] randyabramson commented on #824
@emilycryan if you approve this text, we can get rolling on coding this.

@blaughman can then get the translations rolling and we can always release the translation in a future sprint.

Thank you!

[2020-12-09 14:28] emilycryan commented on #823
Sounds perfect, @randyabramson
CC @AvivaOskow

[2020-12-09 14:30] emilycryan commented on #824
@randyabramson this looks good to me - the messaging matches what we have on the modal so I'm good with it.

CC @blaughman

[2020-12-09 14:34] randyabramson commented on #824
Great, @emilycryan - thank you. I will unblock this.  @blaughman  - feel free to send this to Marta for translation and you can give here this page as an error reference page: https://civilrights.justice.gov/report/dd

[2020-12-09 17:08] blaughman commented on #818
Closing per Imran's request.

[2020-12-09 17:08] #818 closed

[2020-12-09 17:08] blaughman commented on #818
Closing per Imran's request.

[2020-12-09 17:08] blaughman commented on #818
Closing per Imran's request.

[2020-12-09 18:35] blaughman opened #831 "Return Users to complaint detail page with persistent filters after printing/saving a record"
## Narrative
As a CRT User, I want to return to the complaint detail page for a record I am working on after I print or save the record so that I can continue to work on my filtered records.

## Acceptance Criteria
1) Given I am on a complaint detail page
when I select the option to 'Print'
then the print modal opens in a new screen

2) Given I am on the print modal screen
when I select my print o

[2020-12-09 18:59] cantsin commented on #822
- Do we want to allow users to uncheck the `referred` flag?
- I'm making the following assumption (please correct me if I'm wrong) that any referred report will _not_ change sections thereafter. (If they do, I will have to record both the referral and the section at that time)

[2020-12-09 19:10] randyabramson commented on #822
@cantsin  -

1. Yes, AC #3 says you can 'uncheck' the referred box
Given that I am looking at an individual record
When I click inside the 'referred' box a second time
Then I see a checkbox disappear from that box

2. Really good question. I think the chance of a section referring a report and then having it reassigned later is not impossible. With that said, I think we can record the referral and

[2020-12-09 20:14] cantsin commented on #822
Thanks! I'm trying to determine if we should store every referral (or un-referral? de-referal?) that the user makes. Based on what I understand, I think we should keep track only the current referral (or not).

To be a bit more specific, we'll add two pieces of information to the report: `referral` and `referred_section`. If the user checks referred, we store the current section as `referred_secti

[2020-12-09 21:11] randyabramson opened #832 "Prep questions for Amazon Simple Email Service technical team"
Details to come

[2020-12-10 13:50] randyabramson commented on #822
@cantsin Yes...the above makes sense. Again, I get that there's an edge case possibility that one report might be referred by two sections...but we will ask Anthony's group to de-dupe based on report number.

Also, 'date created' is already in the report, so I think we are good on that requirement.

Thanks for these questions and sorting it out with me.

[2020-12-10 14:01] ilodidoj commented on #788
Do we also need to do anything for TouchPoint https://touchpoints.digital.gov/ testing? I believe this only set for production now on the touch point side.

[2020-12-10 14:08] randyabramson commented on #788
Good call, @ilodidoj

I can define Staging URLs in Touchpoints for testing. For me this is a 'nice to have,' so it's up to you all based on complexity.

[2020-12-10 14:13] timoballard opened #833 "Reevaluate our response to tampered form data"
The investigation into [818](https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/818) revealed that while we are not susceptible to SQL injection attacks, the server does not handle them gracefully and ultimately returns a 500 to the frontend. We should revisit this code path and decide how the server should respond to and report on these eve

[2020-12-10 16:16] blaughman opened #834 "Frequent Flyer - Complaint Detail Page (Total Complaints Card)"
## Narrative
As a CRT User, I want a visual reference of other reports in the system associated with the email address of the complaint I am currently processing so I am more efficient in my work.

## Background
Knowing the previous history of a complainant in the portal will make intake specialists more efficient as they process incoming complaints.  A first time complainant can be processed quic

[2020-12-10 16:26] blaughman commented on #787
Superseded by card 803.

[2020-12-10 16:26] #787 closed

[2020-12-10 16:57] cantsin commented on #822
Thanks! This has been a fruitful discussion. One small thing, I don't think we should allow more than one referral to a report -- either the report is referred or it's not. I think this makes the data model simpler (among other things, I'm not sure how we would track "other" referrals).

[2020-12-10 17:33] emilycryan commented on #823
Here's the updated popup with correct text. @randyabramson LMK if anything is missing.

![Screen Shot 2020-12-10 at 12.32.14 PM.png](https://images.zenhubusercontent.com/5f970c483cdc923d98dfa265/1d6c6fcc-9fdd-419b-8e30-e669384aba2e)

[2020-12-10 18:49] AvivaOskow commented on #823
@randyabramson @emilycryan this is how I would design this. It's taking the content from what Emily shared above, but putting it in our styles. Let me know what you think.

<img width="761" alt="Screen Shot 2020-12-10 at 2 19 28 PM" src="https://user-images.githubusercontent.com/21244661/101816047-ded81100-3af6-11eb-9130-ba3a02fe58ca.png">

[2020-12-10 20:47] emilycryan commented on #819
Here is the link to the prototype (inter-connected wireframes)

https://invis.io/ARZOW23Z3YP

Notes:
- Table view functions as normal with "Total #" being sortable by same rules as the other columns
- When a user clicks into a record, "Back to all" retains filters from the previous filter set
- If a user clicks "View all (x)" on the individual record view, they should return to the table view howe

[2020-12-10 21:06] randyabramson commented on #824
Translation added here[https://app.zenhub.com/files/183258764/c3140f50-5fce-4549-b59d-6b27295d363b/download](https://app.zenhub.com/files/183258764/c3140f50-5fce-4549-b59d-6b27295d363b/download)

[2020-12-10 21:15] randyabramson commented on #822
I think I'm following you @cantsin.

I agree that a report is either referred or not.

And I think we are saying the same thing on this scenario:

==

June 2020 - Report 5553 is referred by VOT
--> In export, we see Report 5553 marked as 'referred' and referred by section VOT

July 2020 - Report 5553 is changed to section HCE and still marked as 'referred'
--> In export, we see Report 5553 marked

[2020-12-10 21:25] randyabramson commented on #823
@AvivaOskow and @emilycryan

One quick change - change above - "Please consider download the latest version..." to "Please consider downloading the latest version..."

Beyond that, it looks great...thanks for your speedy work.

[2020-12-11 02:58] Jkrzy commented on #823
Flagging that this will need ES translation

[2020-12-11 03:01] Jkrzy opened #835 "Implement single sign on in staging environment"
Building on [#788](https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/788), as a developer I want the authentication process on staging to mirror production so that we can test more effectively.

PR: https://github.com/usdoj-crt/crt-portal/pull/902

### We'll know we're done when
- [x] The staging instance is configured to use single sign-on

[2020-12-11 03:05] Jkrzy opened #836 "Cloudfront for staging"
Building on #788, as a developer I want an external domain service w/ CDN on staging giving us the ability to test caching behavior in a non-production environment.

### We'll know we're done when
- [ ] We have worked with CRT to select and establish a domain for the staging instance
- [ ] We've configured and deployed an external domain service w/ CDN on cloud.gov
- [ ] Static assets are being se

[2020-12-11 03:12] Jkrzy opened #837 "Analytics on staging environment"
Building on [#788](https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/788), as a developer I want our analytics in staging to mirror production  analytics in staging environment, giving us the ability to test implementation in a non-production environment.

### We'll know we're done when
- [x] Google analytics suite is implemented on staging

[2020-12-11 03:13] Jkrzy commented on #788
Cards for next phase of this work created, closing this one out.

[2020-12-11 03:13] #788 closed

[2020-12-11 16:48] blaughman commented on #820
@emilycryan Could you attach a wireframe for the email filter?  Thanks in advance.

[2020-12-11 17:21] emilycryan commented on #820
@blaughman Attached as a PNG file showing the output when it's used.

![Repeat Writers-Table Email Filtered@2x](https://user-images.githubusercontent.com/73443807/101934236-4e0f3d00-3bab-11eb-8abd-4421312aa63b.png)

[2020-12-11 17:30] blaughman opened #838 "Frequent Flyer - Complaint Detail Page (View all link)"
As a CRT intake specialist, I want to see all records associated with an email address in the view all table so that I can take action on those complaints.

## Acceptance Criteria
1) Given I am on the complaint detail page
when I look at the 'Email' line in the 'Correspondent information' card
then I see a link to the right labeled 'View all (value of associated records with that email - **when va

[2020-12-11 17:52] AvivaOskow commented on #823
@timoballard @Jkrzy should I give you spacing and color annotations for this?

[2020-12-11 17:56] randyabramson commented on #823
@timoballard we requested translation...will forward it when we get it back.

[2020-12-11 18:17] Jkrzy commented on #824
Flagging that we have two different translations for:

"We're sorry, something went wrong"

1. "Lo siento, se ha producido un error"
2. Received here: "Lo sentimos. Hay algún problema."

[2020-12-11 19:06] randyabramson commented on #822
@cantsin - apologies, but we had a change on the label name for the 'referred' box to 'section review.'

I made the changes above in the ACs. Apologies about this!

Let me know if you have any questions.

Randy

[2020-12-11 19:36] timoballard commented on #823
@AvivaOskow yes please!

[2020-12-11 19:48] AvivaOskow commented on #823
## USWDS mobile grid
<img width="660" alt="Screen Shot 2020-12-11 at 3 39 54 PM" src="https://user-images.githubusercontent.com/21244661/101948101-e3b8c580-3bc7-11eb-9660-9ec41fc01d3c.png">

## Spacing Annotations
<img width="719" alt="Screen Shot 2020-12-11 at 3 45 01 PM" src="https://user-images.githubusercontent.com/21244661/101948202-034fee00-3bc8-11eb-939a-fdc5a333aae3.png">

## Styles

####

[2020-12-11 20:06] Jkrzy commented on #824
Submitted https://github.com/usdoj-crt/crt-portal/pull/765

[2020-12-11 22:32] cantsin commented on #822
No worries re: label name. Easy to do.

Re: your example, I think 5553 should remain as referred to VOT, even if transferred to HCE? Otherwise we can just use the currently assigned section when doing CSV extracts?

[2020-12-11 23:01] randyabramson commented on #822
@cantsin  - you are right...thanks for helping me think that through --- it would be referred (now section review) for both HCE and VOT and we can de-dupe later.

Thanks again! Have a great weekend.

[2020-12-14 13:53] #828 closed

[2020-12-14 13:54] #814 closed

[2020-12-14 14:01] randyabramson commented on #799
@cantsin - I just tested this on DEV in EDGE and Chrome. When I clear out an assignee and then click 'apply changes,' I still do not see the name populating in the status header in the top right (Successfully updated Assigned to.). See attached grab:

![assigned-to.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/ec6fd50a-3c92-421b-bff1-5d21c24d2d7b)

[2020-12-14 14:01] randyabramson commented on #823
@timoballard - is there a way for @blaughman or I to test this?

[2020-12-14 14:08] timoballard commented on #823
@randyabramson - If either of you have an android phone/tablet, you can install the [Samsung browser](https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser) and navigate to the report form. You should see the modal using that browser, but not with any others.

[2020-12-14 14:25] randyabramson commented on #830
@blaughman and I collaborated on the attached

[https://app.zenhub.com/files/183258764/865499ce-117d-42de-8009-63f31a483def/download](https://app.zenhub.com/files/183258764/865499ce-117d-42de-8009-63f31a483def/download)

[2020-12-14 14:45] Jkrzy commented on #823
I tested manually using android device and remote debugging, this could also be tested w/ playwright.

[2020-12-14 14:50] timoballard commented on #823
@Jkrzy - that's true, I suppose we could override the user agent string. Good excuse for me to fiddle w/ playwright :)

[2020-12-14 14:57] Jkrzy commented on #823
Django's test client may be a better option, lighterweight since all we're looking for is setting the user agent. https://docs.djangoproject.com/en/2.2/topics/testing/tools/#making-requests

[2020-12-14 18:35] timoballard commented on #823
[Went with playwright](https://github.com/usdoj-crt/crt-portal/pull/767) due to the user agent inspection + modal display all happening on the client side. PR open!

[2020-12-14 18:58] timoballard commented on #820
Looks like there's a conflict between AUC #1 and the wireframe. Wireframe shows email filter up to and presumably displayed by default, wheres AUC.1 mentions it being hidden by default and adjacent to Intake Type when displayed. Thoughts @blaughman @emilycryan ? Thanks!

[2020-12-14 19:01] blaughman commented on #820
@timoballard @emilycryan Good catch Tim.  We plan on reorganizing the filters at some point soon, but at this time, I think we should put this in the available area in the hidden portion of the filters.  Thoughts Emily?

[2020-12-14 19:25] cantsin commented on #822
Looks like USWDS forces a checkbox to the _left_ for usability reasons.

![2020-12-14_11-24.png](https://images.zenhubusercontent.com/5eb05c8e896abe15ccf6dfa3/2ae84ac6-00d9-4a2b-a364-085c1f8395f4)

It's not easy to flip the label and checkbox. Maybe we should have a dropdown instead?

[2020-12-14 20:59] emilycryan commented on #820
@timoballard Yes, the email for now will go in the hidden drawer / area. I just it there so it would fit onto the screen but we should put it where we have space for it, within the "MORE" drawer.

Ideally we will reorg these after ppl use email for a bit - I'd like to make sure we give the easiest access to the most common filters and hide the lesser used ones and I'm going to imagine email will b

[2020-12-14 21:27] emilycryan commented on #820
Ok, updated designs. Attached are screens showing the email filter when it's used in various ways.

![Repeat Writers-Table Email Filtered@2x.png](https://images.zenhubusercontent.com/5f970c483cdc923d98dfa265/78c58117-ff4b-4cb5-8c4a-22e5b2f0500d)
This shows what should show when someone has selected NEW and OPEN and there are 4 (of 6) records from that email in either OPEN or NEW state.

![Repeat W

[2020-12-14 21:53] timoballard commented on #820
Thanks @emilycryan!

@blaughman - do you want to discuss the two technical questions? The first one (email validation) is straightforward to implement, so is really more of a UX question so I'd defer to @emilycryan on that.

The second one would involve either clearing or bypassing any active section filters whenever an email filter is specified, if I'm understanding correctly. Happy to discuss as

[2020-12-14 22:27] timoballard commented on #732
@ilodidoj @blaughman @randyabramson - I think we can close this as `not doing`

[2020-12-14 22:54] randyabramson commented on #732
I will close it, @timoballard

[2020-12-14 22:54] #732 closed

[2020-12-15 14:36] Jkrzy commented on #820
I wouldn't recommend having validation on the filter input for email. Folks should be able to search that field with any text entered, like partial emails, names, domains, etc.

[2020-12-15 16:44] blaughman commented on #820
@timoballard @emilycryan Randy, Emily and I discussed this yesterday.  The email filter should include any other active filters selected by a user.  This will allow the user the ability to really scope the work they need to address.  Also, I concur with Joe's assessment - no email validation on the back-end.  Hope this helps.

[2020-12-15 16:52] timoballard commented on #820
It does - thanks @blaughman!

[2020-12-15 17:07] #799 closed

[2020-12-15 17:31] randyabramson commented on #830
Emily added this as a google doc so that we can collaborate
https://docs.google.com/spreadsheets/d/16kBfhSBby9CqZbsoTlaW6WpRXDqGwgF7hrtJdOQqplA/edit#gid=643203951

[2020-12-15 21:44] Jkrzy commented on #821
:thinking: Would you all be amenable for this be accomplished via an export and report generation outside of the system similar to how Reports are being looked at?

[2020-12-15 21:48] randyabramson commented on #821
@Jkrzy Yes, I am flexible here.

[2020-12-15 22:35] randyabramson commented on #476
Verified in PROD - closing this out. Nice work, everyone!

[2020-12-15 22:36] #476 closed

[2020-12-15 22:38] #627 closed

[2020-12-15 22:42] randyabramson commented on #760
Verified on prod

[2020-12-15 22:42] #760 closed

[2020-12-15 22:43] randyabramson commented on #785
Verified by @ilodidoj  - closing now

[2020-12-15 22:43] #785 closed

[2020-12-15 22:44] randyabramson commented on #562
@ilodidoj - can you help confirm this is working on Production?

When complete, feel free to close.

[2020-12-16 14:07] Jkrzy opened #839 "Email field filtering with case insensitive contains operator"
From: https://github.com/usdoj-crt/crt-portal/pull/770#pullrequestreview-552870415

As an intake specialist, I want to be able to search across `contact_emails` without **always** entering the specific email I'd like to filter for so that I can perform more flexible searches of reports in the system.

@Jkrzy  said:

Given 4 reports with `contact_email` as follows:
* test@gsa.gov
* test@gsa.gov
* t

[2020-12-16 14:08] Jkrzy commented on #820
Added https://app.zenhub.com/workspaces/doj-crt-intake-scrum-board-5d03bf56c1c8a35d482eca0f/issues/18f/crt-portal/839 stemming from the code review here

[2020-12-16 14:45] blaughman commented on #820
Tested function in both Chrome and Edge.  Approved - moving to UAT.

[2020-12-16 15:16] blaughman opened #840 "Serious Error Notification"
## Narrative
As a product owner, I want to be notified if there is a serious error with the product so that I can take appropriate action to remedy the situation.

## Background
New Relic error notifications have caused alarm with the product staff, but engineers determined the errors are small with little impact on the product.  The product team would like to know when there are critical errors.

[2020-12-16 15:27] blaughman opened #841 "Validation Message Notification - Complaint Detail Page"
## Narrative
As a CRT user, I want the validation message to indicate what fields were impacted when I apply any changes to a record so that I have visual confirmation of the change at the top of the complaint detail page.

## Background
The validation message at the top of the complaint detail page is very basic.  Once a user clicks 'Apply Changes' the page refreshes and the validation message ap

[2020-12-16 15:29] blaughman commented on #540
Closing this card.  The navigation buttons that were added to the complaint detail page do not allow for the validation message to move up.  This also prevents the cards on the right side of the detail page from moving up as well.

[2020-12-16 15:29] #540 closed

[2020-12-16 16:25] randyabramson commented on #823
@timoballard tested this on Android, so moving this over to UAT Complete.

[2020-12-16 16:54] cantsin commented on #562
![2020-12-16_08-53](https://user-images.githubusercontent.com/3013175/102379996-48836f80-3f7c-11eb-9c20-9c4d8e074d2e.png)

(Leaving this open so @ilodidoj can confirm and then close)

[2020-12-16 17:50] timoballard opened #842 "Change email filtering from full-text to contains"
### Description
When filtering reports by email, we're currently doing a full-text search. This means that only exact matches will be returned. We should update this so that partial matches are returned (`__icontains`).

### Acceptance Criteria
1. Given I am on the view all table
when I enter some text into the 'Contact Email' filter
then I see all records whose contact email matches the value I e

[2020-12-16 17:51] #842 closed

[2020-12-16 19:18] ilodidoj commented on #562
Verified in prod ![image.png](https://images.zenhubusercontent.com/5d374c9d0efb727bd5a01afd/f5ece354-c813-4aa4-bda8-415ad51e3c75).  As expected.

[2020-12-16 19:18] #562 closed

[2020-12-16 20:01] emilycryan commented on #819
@timoballard We have come to a decision. This was what I put forth toe Randy and Bill:

- Using a "0" would cause a slew of records to show 0 but technically that's not accurate. It's not that there are 0 records by a particular user, it's that we don't know what their email actually is to count it.
- Adding up all the ones with blanks would cause an abnormally high number, like "8,389" which then

[2020-12-17 16:50] randyabramson commented on #812
Per my research, since these Emails are 'transactional,' we will not need an 'unsubscribe' function. Note that neither FTC or CFPB have 'unsubscribe' functions in similar communications

[2020-12-17 16:50] #812 closed

[2020-12-17 16:55] randyabramson commented on #813
Since SES allows for multiple EMail boxes and since we will allow for complainants to respond to our Emails, I suggest that we create separate boxes for each section so that they can easily monitor (and even possibly respond, although this should happen via Outlook). We still need to decide if we should have different Email addresses for the SES mails vs. the Outlook mails.

[2020-12-17 16:55] #813 closed

[2020-12-17 17:10] emilycryan commented on #765
Google doc for question documentation: https://docs.google.com/document/d/1a-puGR0z82n__30BE6ZSUUBCSF_sdn-ZMSSaFRzqrUE/edit?usp=sharing

[2020-12-17 17:32] randyabramson commented on #824
@Jkrzy in testing this, I started a report on DEV in EDGE. Half way through, I opened a second tab in the same browser and started a new report. I submitted that second report without seeing the error. I then went back to the first tab and completed that first report and submitted it without seeing an error.

Is there anything more specific I should be doing to show this error page?

Randy

[2020-12-17 18:57] Jkrzy commented on #819
@timoballard, if we dropped sorting from the implementation here can you let us know so @blaughman or @randyabramson can create a new card for it?

[2020-12-17 19:06] timoballard commented on #819
Yes, this implementation does not include sorting, so we will need a new card to capture that work @blaughman @randyabramson

[2020-12-17 19:28] blaughman opened #843 "Frequent Flyer - Sorting on the view all table"
## Narrative
As a CRT user, I want to sort records based on the number of contacts by an email address so that I can prioritize my workload.

## Background
CRT intake staff need the ability to sort the records that are grouped by email so they can efficiently process the complaints.  Single complaints can be acted upon quickly, but multiple complaints need further analysis and could possibly be pr

[2020-12-17 19:33] randyabramson commented on #819
Got it @timoballard and @Jkrzy

This is still a huge win. Thank you for the speedy and excellent work!

[2020-12-17 19:35] blaughman commented on #819
@Jkrzy @timoballard @randyabramson Card 843 has been created.  Please feel free to drop comments in the card.

[2020-12-17 20:15] randyabramson commented on #843
@blaughman - just curious...how are records that don't have email  addresses ordered?

[2020-12-17 21:31] randyabramson commented on #832
Questions, concerns and documentation doc here

https://docs.google.com/document/d/1a-puGR0z82n__30BE6ZSUUBCSF_sdn-ZMSSaFRzqrUE/edit?ts=5fdb9132#heading=h.cowdhq8zwayr

[2020-12-18 15:42] blaughman commented on #819
Function works as intended in Chrome and Edge.  Moving to UAT.

[2020-12-21 15:43] ilodidoj opened #844 "Bump ini from 1.3.5 to 1.3.8"
Bump ini from 1.3.5 to 1.3.8
https://github.com/usdoj-crt/crt-portal/pull/769

Security update.

[2020-12-21 17:30] randyabramson commented on #832
Closing this since @cantsin told us he has experience with the platform

[2020-12-21 17:30] #832 closed

[2020-12-21 18:25] randyabramson opened #845 "Change email address on error pages"
Change email address on 404 and general error pages from Ask.CRT@crt.usdoj.gov to Ask.CRT@usdoj.gov

[2020-12-21 20:30] emilycryan commented on #834
Notes on the design:

- Total Complaints box should be 450 pixels high.

- The info within the box should scroll as indicated within the dotted blue area:

![Screen Shot 2020-12-21 at 3.28.04 PM.png](https://images.zenhubusercontent.com/5f970c483cdc923d98dfa265/f301d8ad-9232-42eb-8677-a422656aefb8)

- If there is only one record with a specific email address, there should be no link to "View All"

[2020-12-21 21:57] emilycryan commented on #838
**Note** If there are 0 or 1 email records for a particular submission, the "View All" should be removed from the box. **Note** This holds true for the "View All" in the Total Complaints box in the left column (ticket 834)

CC @blaughman @randyabramson

[2020-12-22 00:07] randyabramson commented on #821
@Jkrzy I know you showed me this on your local machine. Let me know if it has been merged and good for UAT complete.

[2020-12-22 00:10] randyabramson commented on #825
Inspector shows that this image is 55 x 55. Moving to UAT complete.

[2020-12-22 13:24] blaughman commented on #839
Function works as intended on both Chrome and Edge.  Moving to UAT.

[2020-12-22 13:26] blaughman commented on #821
I can't test this due to admin rights.

[2020-12-22 13:39] blaughman commented on #838
@emilycryan @randyabramson I updated the AC's to reflect Emily's instructions.  If you have a moment to review, please let me know your thoughts.

[2020-12-22 16:17] Jkrzy commented on #793
@timoballard, @ilodidoj this looks to be working for logs that we're outputting from our views but exceptions are still being output as multiple lines on the dev instance.

[2020-12-22 16:37] timoballard opened #846 "Simplify test report data generation"
There are dozens of places in our test suite where we install mock report data before test execution. The typical pattern is to create some number of reports using the `SAMPLE_REPORT` definition, and then iterate over the created reports making whatever data modifications are necessary to facilitate the upcoming test.

We should introduce a single or small set of utility function(s) that allow tes

[2020-12-22 16:47] ilodidoj commented on #793
@Jkrzy @timoballard does this mean, we have to add "formatter": "json", before line 366 of settings.py? i.e. in the loggers section of the code?

[2020-12-22 16:53] timoballard commented on #793
@ilodidoj - we can pair on this if you'd like

[2020-12-22 17:05] ilodidoj commented on #793
@timoballard sure, we can pair on this one. Thank you.

[2020-12-22 18:33] Jkrzy commented on #838
Ahhh @blaughman I think I'm confused between the mock and the acceptance criteria --

This card is _**only**_ to implement this piece of the mock?
![Screen Shot 2020-12-22 at 1.32.34 PM.png](https://images.zenhubusercontent.com/5e55861e4853ae9aab609188/795c9d86-0bae-4d09-9050-a9aa1b86db71)

[2020-12-22 18:38] blaughman commented on #838
@Jkrzy Correct.  This card is to only add the 'View All' link in the 'Contact information' card and the behavior one would expect when clicking the link.  Card 834 is the 'Total Complaints' card - this will also have a 'View All' link, but it will also visually display basic metadata on other complaints associated with that email address.  Hope this makes sense - please feel free to hit me up on z

[2020-12-22 18:42] randyabramson commented on #838
@blaughman - just catching up to this...nice work

[2020-12-22 19:47] ilodidoj commented on #793
@Jkrzy is it possible to have a screen shot of the current log example that you are referring and some details on how this should format when JSON format applied.

[2020-12-22 20:21] Jkrzy commented on #798
We can't handle inbound email with Amazon SES.

[reference](https://docs.aws.amazon.com/general/latest/gr/ses.html):

[2020-12-22 20:36] blaughman commented on #834
Icon source - "Copy"
https://feathericons.com/

[2020-12-22 21:12] randyabramson commented on #820
Tested function in both Chrome and Edge on Staging.

[2020-12-22 21:16] randyabramson commented on #823
@timoballard is there a way to test this on Playwright on Staging?

[2020-12-22 21:21] randyabramson commented on #825
Inspector shows that this image is 48x48 on Staging. Moving to Staging column.

[2020-12-22 21:23] timoballard commented on #823
Yes - Playwright tests ran (and passed) as part of the staging deploy, so all good there 👍

[2020-12-22 21:28] randyabramson commented on #823
Passed deploy which contained Playwright test. Moving to Staging column.

[2020-12-22 21:36] randyabramson commented on #819
Worked as intended on Edge and Chrome on Staging

[2020-12-22 21:40] randyabramson commented on #839
Function works as intended on both Chrome and Edge on Staging. Nice work @Jkrzy !

[2020-12-23 18:05] Jkrzy commented on #846
https://github.com/usdoj-crt/crt-portal/pull/782

[2020-12-23 18:05] blaughman commented on #822
Function works as intended in Chrome and Edge.  Moving to UAT.

[2020-12-23 18:10] randyabramson commented on #822
@blaughman let's remember that we need to make sure that these actions are recorded in the export. @ilodidoj is there any wat to test against that on Dev or Staging or do we need to wait for the live environment to test?

[2020-12-23 18:33] ilodidoj commented on #822
@randyabramson @blaughman i just checked in DEV export the two fields are part of the report data extract export. ![image.png](https://images.zenhubusercontent.com/5d374c9d0efb727bd5a01afd/92ecbe98-ca33-408e-b5e1-179e032d168a)

[2020-12-23 18:35] randyabramson commented on #824
Tested with Joe and works as expected. Moving to UAT complete.

[2020-12-23 18:36] randyabramson commented on #817
Changing this to Sprint 35 so that it stays on our radar.

[2020-12-23 18:37] randyabramson commented on #822
Changing this to Sprint 35 so that it stays on our radar.

[2020-12-23 18:38] randyabramson commented on #817
Changing this to Sprint 35 so that it stays on our radar.

[2020-12-23 18:39] randyabramson commented on #822
Awesome! Thank you @ilodidoj

[2020-12-23 19:35] Jkrzy commented on #834
Should the current report we're viewing be included in the `Total Complaints` table?

[2020-12-23 19:40] blaughman commented on #834
@Jkrzy Yes.  The total complaints card is essentially the view all table with an email filter.  Hope this makes sense - happy to jump on a call to discuss.

[2020-12-28 15:34] randyabramson commented on #830
Bill and I will work off of https://docs.google.com/spreadsheets/d/16kBfhSBby9CqZbsoTlaW6WpRXDqGwgF7hrtJdOQqplA/edit#gid=643203951

Closing this ticket.

[2020-12-28 15:34] #830 closed

[2020-12-28 17:26] Jkrzy commented on #798
@randyabramson, not an immediate blocker but we'll need `FROM` and `REPLY-TO` addresses provided to us for implementation

[2020-12-28 17:30] randyabramson commented on #798
Got it @Jkrzy thanks for the heads up.

[2020-12-28 17:49] randyabramson commented on #798
@Jkrzy quick question - the addresses don't need to be configured at all on our side, correct? These will be configured on the AWS side, right?

[2020-12-28 18:15] Jkrzy commented on #798
@randyabramson, the AWS portion is verification of those email addresses/domain once they've been selected.

Deciding the from and reply-to email addresses is on our/crt's side.

[2020-12-28 18:20] randyabramson commented on #798
Got it, @Jkrzy --- it'll definitely be a @usdoj.gov domain. I'll get back to you with the exact addresses soon.

[2020-12-28 18:55] Jkrzy commented on #838
Great question from @cantsin on code review!

How should we approach the intersection of user's `profiles` and this `view all` functionality?

More details from James: https://github.com/usdoj-crt/crt-portal/pull/779#pullrequestreview-559255064

cc: @randyabramson, @blaughman

[2020-12-28 19:05] blaughman commented on #838
@Jkrzy @cantsin @randyabramson @emilycryan The thought on this function is that once the CRT user clicks the 'View All' link, the only filter will be for the email address.  All other filters are removed at this point.  A CRT user will have to go back and select their section once they have taken action on the filtered records.

[2020-12-28 19:10] randyabramson commented on #838
+1 to @blaughman's point. To @cantsin's question -- yes, include section labels.

[2020-12-28 21:32] cantsin commented on #667
Going to grab this one while waiting for SES access. Please let me know if anything else is higher priority.

[2020-12-29 00:10] cantsin commented on #811
This one needs a bit more discussion with the team, I think. It's going to be easy enough to add a print button for the confirmation page but we may also want to take a more holistic look at how we're doing print on this page -- anything we want to tweak? CC @blaughman @randyabramson

[2020-12-29 00:11] cantsin commented on #809
I also think this is a good question for the team at large @blaughman @randyabramson -- easy to do either way

[2020-12-29 00:14] cantsin commented on #807
Also may merit discussion with the larger team @blaughman @randyabramson

[2020-12-29 02:24] randyabramson commented on #811
@cantsin did you have 'style' suggestions? TBH, I always thought this page was clean and straight forward, but if you have suggestions, I'm all ears!

[2020-12-29 02:32] randyabramson commented on #809
@cantsin I think the 'submit report' button at the top is OK, but the top language should say "Review Your Report OR Submit Report (button)"

I think some people might not want to review it (maybe they are confident in their answers?) and making them do that LONG scroll to get to the submit button seems unnecesary.

@emilycryan  - do you have an opinion here?

BYW - this is in reverence to the 're

[2020-12-29 02:35] randyabramson commented on #807
Yup...I support using https://designsystem.digital.gov/form-controls/05-date-picker/

cc: @cantsin

[2020-12-29 13:36] emilycryan commented on #809
It seems odd to me to have two submit buttons if the desired outcome is that they review the report in its entirety before they click submit. The only caveat is being mindful of the experience for those using screen readers - I'm not sure if they would then be forced to go line by line before they could get to the submit button, which would be painful for them.

Generally though, best practice say

[2020-12-29 14:05] randyabramson commented on #809
I get that point, @emilycryan

Do you have a preference of having the submit button at top or bottom?

I noticed that on mobile, Whole Foods still has the checkout button at top - see below.  (if we keep it up top, maybe we can have a 'go to top' jump link at the bottom of the form)

![amazon.png](https://images.zenhubusercontent.com/5ef156d51dd4f26e61414bbf/2a49b975-13c0-44f9-b49c-75c664951bb8)

[2020-12-29 14:12] emilycryan commented on #809
@randyabramson The user is way more incentivized to proof their Whole Foods order over their CRT submission so they can get away with that UI approach. If we want to make sure they review (or at least push them to review) then I'd say only the button at the bottom of the page. Providing a button at the top to skip to the bottom isn't any different than providing a submit button up there b/c both a

[2020-12-29 14:17] randyabramson commented on #809
Understood, @emilycryan

I actually think the instructions on the page are pretty clear (below), even if we remove the top 'submit' button. Did you have other suggestions?

===

Review your report
Before you submit your report, please check your responses
If you need to make any changes, you can go back and edit the previous pages. Please make sure your information is accurate. This allows us to r

[2020-12-29 14:32] emilycryan commented on #809
@randyabramson I think they're generally fine - they could mention something along the lines of the SUBMIT button is at the bottom of the page but I don't think it's a huge deal either way. We should probably assume people know that it would be and in reviewing they'll find it.

[2020-12-29 15:23] randyabramson commented on #809
OK @cantsin - I think this is a long way of saying 'remove the top submit button.'

Thanks.

[2020-12-29 17:34] Jkrzy commented on #834
@blaughman, should this be excluded from the page when printing a report?

[2020-12-29 17:42] blaughman commented on #834
@Jkrzy Great question.  I think it should be added to the print option, but not checked by default.  At this point it's a nice to have.  I really wonder what the printout would look like for someone who has over a hundred complaints in the portal.  As this product ages, printing a report for a frequent flyer would trigger an error because it would exceed a certain file size.

[2020-12-29 17:57] emilycryan commented on #834
@Jkrzy @blaughman The other option is to only include an abbreviated representation of the info. Instead of listing the duplicates out, just including something like "Complainant Submissions: 89" or something similar. I guess what I'd want to know is what are ppl doing with the printed reports that would merit including the other submissions' details?

[2020-12-29 18:07] blaughman commented on #834
@Jkrzy @emilycryan We could opt to omit this from the print option.  At this point it is most likely the related complaints are all from the same person (although not confirmed - Randy brought up the possibility of more than one person having/entering the same email address).  It could potentially make a FOIA request much more difficult if the public requester sees some records associated with the

[2020-12-29 18:13] emilycryan commented on #834
@blaughman The email address+FOIA thing is sticky so def sounds like not including it would be the best bet. I'd say we just ignore it then and not even include a number of total complaints. CC @Jkrzy

[2020-12-29 18:25] Jkrzy commented on #834
Ok, `Total Reports` will be excluded from print views!

Thanks @emilycryan & @blaughman

[2020-12-29 18:36] blaughman commented on #822
Function confirmed on staging prior to production release.

[2020-12-29 18:38] blaughman commented on #820
Function confirmed on staging prior to production release.

[2020-12-29 18:41] blaughman commented on #839
Function works as intended in staging prior to production release.

[2020-12-29 18:44] blaughman commented on #819
Function confirmed in staging prior to production release.